.column {
	float: left;
	width: 320px;
	margin-right: 40px;
}
.column  .row {
	float: left;
	width: 100%;
	padding-bottom: 13px;
}
.column.small { width: 90px; }
.column.small .row { padding-bottom: 5px;}
.column SELECT { width: 180px;}
.column LABEL {cursor: pointer;}
.column  .row SPAN.pager { float: left; margin-right: 15px;}
.column  .row A { position: relative; }
P.larger-size { font-size: 16px; }
#page STRONG { color: #FFFFFF; }
#nav UL {
	list-style: none;
	margin: 0;
	padding: 0;
}
#nav UL LI {
	display: inline;
	margin-right: 8px;
}
#nav UL LI.showPage A { color: #fff; }
