/*div.#mod-container {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: scroll;
}

h1.mod-page-title {
	font-family: 'Dancing Script', cursive;
	color: #EE9A2A;
	font-size: 28px;
	font-style: bold;
	line-height: 30px;
	margin-bottom: 15px;
}

h2 {
	color: rgb(130, 130, 130);
	font-size: 22px;
	font-style: bold;
	line-height: 30px;
	margin-bottom: 15px;
	padding-left: 15px;
}

p {
	padding-left: 15px;
	margin-left: 25px;
}*/

.bold {
	font-weight: bold;
}

h1 span.mod-edit {
	font-family: 'Kite One', sans-serif;
	color: rgb(130, 130, 130);
	font-size: 14px;
	font-style: bold;
}

h1 span.mod-edit a {
	text-decoration: none;
}

#recipe_img_div {
	height: 400px;
	overflow: hidden;
}

div.mod-page-header {
	display: inline;
}

div.mod-recipe-stat {
	padding: 5px;
	max-height: 50px;
}

div.mod-recipe-stat .mod-recipe-count,
div.mod-recipe-stat .mod-recipe-like {
	height: 40px;
	line-height: 40px;
}

div.mod-recipe-stat .mod-recipe-count {
	padding-left: 10px;
}

div.mod-recipe-stat .mod-recipe-count span {
	font-size: 14px;
	font-weight: bold;
	color: rgb(169, 169, 169);
}

div.mod-recipe-stat .mod-recipe-like {
	padding-right: 10px;
	padding-left: 10px;
}

div.mod-recipe-stat .mod-recipe-like > a {
	text-decoration: none;
}

div.mod-recipe-stat .mod-recipe-like > a > #mod-recipe-likebtn, 
div.mod-recipe-stat .mod-recipe-like > a > #mod-recipe-likedbtn {
	border-radius: 0;
	color: white;
	font-weight: bold;
	font-size: 14px;
}

div.mod-recipe-stat .mod-recipe-like > a > #mod-recipe-likebtn{
	background: rgb(178, 34, 34);
}

div.mod-recipe-stat .mod-recipe-like > a > #mod-recipe-likedbtn {
	background: rgb(77, 221, 221);
}

div.mod-recipe-ratings, div.mod-recipe-ratings > div {
	display: inline;
	font-size: 14px;
	color: rgb(169, 169, 169);
	height: 40px;
	line-height: 40px;
}

div.mod-recipe-ratings {
	padding-left: 15px;
}

div.mod-recipe-share {
	height: 30px;
	max-height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.mod-recipe-share span.mod-recipe-upload {
	height: 40px;
}

div.mod-recipe-share span.mod-recipe-upload > a:link,
div.mod-recipe-comments > a:link {
	color: rgb(178, 34, 34);
}

div.mod-recipe-share span.mod-recipe-upload > a:visited,
div.mod-recipe-comments > a:visited {
	color: rgb(178, 34, 34);
}

div.mod-recipe-share span.mod-recipe-upload > a:hover,
div.mod-recipe-comments > a:hover {
	color: rgb(0, 191, 255);
}

div.mod-recipe-share span.mod-recipe-upload > a:active,
div.mod-recipe-comments > a:active {
	background: rgb(0, 191, 255);
	color: white;
}

div.mod-recipe-share span.mod-recipe-upload > a {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	padding-left: 15px;
}

p.mod-recipe-brief-content, p.mod-recipe-tip-content, p.empty-note, 
ul.ingredient-list, div.mod-recipe-steps ol, div.i-title {
	color: #e3cb9f;
	font-size: 16px;
	text-align: justify;
}

div.i-title {
	font-weight: bold;
}

div.mod-recipe-comments {
	margin-top: 10px;
	margin-bottom: 10px;
}

div.mod-recipe-comments > a {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

div#rateModal > .modal-body form {
	margin-bottom: 5px;
}

div#rateModal > .modal-body fieldset div#modal-rating-title,
div#rateModal > .modal-body fieldset div#comment_star,
div#rateModal > .modal-body fieldset div#comment_target {
	display: inline;
	padding: 5px;
}

div#rateModal > .modal-body fieldset div#modal-cmt-title {
	padding: 5px;
}

div#rateModal > .modal-body fieldset textarea#id_votecomment {
	margin-left: 5px;
	width: 95%;
	height: 50px;
	resize: none;
}

div#rateModal > .modal-body fieldset p{
	padding-right: 15px;
}

div#rateModal > .modal-header {
	border-bottom: 0;
}

div#rateModal > .modal-header > #modal-title,
div#rateModal > .modal-header > #modal-closebtn {
	margin-bottom: 0;
	display: inline;
}

aside.mod-side div.mod-author a {
	text-decoration: none;
}

aside.mod-side div.mod-author a > span {
	font-size: 20px;
	color: rgb(178, 34, 34);
	margin-left: 15px;
}

aside.mod-side div.mod-author a > span:link {
	color: rgb(178, 34, 34);
}

aside.mod-side div.mod-author a > span:visited,
div.mod-recipe-comments > a:visited {
	color: rgb(169, 169, 169);
}

aside.mod-side div.mod-author a > span:hover,
div.mod-recipe-comments > a:hover {
	color: rgb(0, 191, 255);
}

aside.mod-side div.mod-author a > span:active,
div.mod-recipe-comments > a:active {
	background: rgb(0, 191, 255);
	color: white;
}

div.mod-recipe-brief, div.mod-reicpe-ingredients, 
div.mod-recipe-steps {
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #F5D982;
}

div.mod-reicpe-ingredients, div.mod-recipe-steps, div.mod-recipe-tip {
	margin-top: 20px;
}

div.mod-recipe-img {
	margin-bottom: 0px;
}

textarea#id_comment {
	resize: none;
	width: 268px;
	height: 80px;
}

button#id_comment_submit {
	float: right;
	border-radius: 0;
	font-weight: bold;
}

ul.ingredient-list {
	list-style-type: none;
	margin-left: 25px;
}

div.recipe-content {
	margin-left: 40px;
}

div.mod-recipe-steps ol {
	list-style-type: none;
}

div.mod-recipe-steps div.recipe-content {
	margin-left: 15px;
}

div.mod-recipe-steps ol li {
	padding-top: 5px;
	padding-bottom: 5px;
}

div.mod-recipe-steps ol li:not(:first-child) {
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #F5D982
}