{% load i18n %}
{% load thumbnail %}


{% if action.actor.get_absolute_url %}
<a href="{{ action.actor.get_absolute_url }}"><img src="{{action.actor.get_profile.mugshot|thumbnail_url:'avatar'}}" />{{ action.actor }}</a>
{% else %}
<a href="{{ action.actor_url }}">{{ action.actor }}</a>
{% endif %}
{{ action.verb }}
{% if action.target %}
    {% if action.target.get_absolute_url %}<a href="{{ action.target.get_absolute_url }}">{{ action.target }}</a>
    {% else %}<a href="{{ action.target_url }}">{{ action.target }}</a>
{% endif %}
{% if action.action_object %}
{{ action.action_object.content_type}}
<div class="medstar{{action.action_object.score}}"></div>
<div class="mod-brief">{{action.target.brief|truncatechars:50}}</div>
{% if action.action_object.comment %}
<div>
&quot;{{action.action_object.comment}}&quot;
</div>
{% endif %}
{% else %}
<div class="mod-brief">{{action.target.brief|truncatechars:50}}</div>
{% endif %}
{% endif %}
{{ action.timestamp|timesince }} {% trans "ago" %}