{% load activity_tags %}

<span class="mod-user-follow">
	
	<a href="{% follow_url profile.user %}" id="followhref">
		<button id="follow_btn" class="btn">{% if user|is_following:profile.user %}UnFollow{% else %}Follow{% endif %}</button>
	</a>
</span>

<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery('#followhref').click(function(event){
		var url = jQuery(this).attr('href');
		jQuery.get(url, function(data) {
			if (jQuery('#follow_btn').html() == 'Follow'){
				jQuery('#follow_btn').html('UnFollow');
				jQuery('#followhref').attr('href', "{% url actstream_unfollow 3 profile.user.id %}")
			}
			else{
				jQuery('#follow_btn').html('Follow');
				jQuery('#followhref').attr('href', "{% url actstream_follow 3 profile.user.id %}")
			}
		});
		return false;
	});
});
</script>