{% extends 'nav.html' %}
{% load activity_tags i18n static %}
{% load thumbnail %}

{% block csslink %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/user/act_update.css" %}"/>
{% endblock %}

{% block title %}{% ifequal user actor %}Chef Industry News{% else %}{{ actor }}{% endifequal %}{% endblock %}
{% block content_title %}
{% ifequal user actor %}
<h1>What I am interested in</h1>
{% else %}{{ actor }}
{% endifequal %}
{% endblock %}

{% block content %}
<div id="mod-container">
	<div class="row-fluid container-fluid">
		<section class="mod-main span7">
			<ul class="action-list">
				{% for action in action_list %}
					<li class="action-item">{% include 'actstream/action.html' %}</li>
				{% empty %}
					{% trans "No actions yet. XD" %}
				{% endfor %}

				<div class="pagination">
					<span class="step-links">
						{% if action_list.has_next %}
						<a href="?page={{ action_list.next_page_number }}" id="next_link">Load more activties</a>
						{% endif %}
					</span>
				</div>
			</ul>
		</section>
		<aside class="mod-side sick-of-choosing-name span4">
			<div class="well well-small">
				<div class="mod-heading">I am following</div>
				<ul>
				{% for f in following %}
					<li class='display_user'>
						<img src="{{f.get_profile.mugshot|thumbnail_url:'avatar'}}" />
						<a href="{{f.get_absolute_url}}">{{f}}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="well well-small">
				<div class="mod-heading">They are following me</div>
				<ul>
					{% for f in followers %}
					<li class='display_user'>
						<img src="{{f.get_profile.mugshot|thumbnail_url:'avatar'}}" />
						<a href="{{f.get_absolute_url}}">{{f}}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="mod-recipe-recommends well well-small">
				<div class="mod-recipe-title">
            <span>People Also Like
              <a id="prevA"><i class="icon-caret-left"></i></a>
              <a id="nextA"><i class="icon-caret-right"></i></a>
            </span>
          </div>
					{% if recommends %}
					<div style="position:relative;">
						{% for r in recommends %}
						<div class="recommend-img-div">
							<a href="{{ r.get_absolute_url }}">
								{% if r.cover_image %}
								<img id="recommend-img" src="{{ r.cover_image.url }}" alt="" />
								{% else %}
								<img id="recommend-img" src="/media/no_image_available.jpg" alt="" />
								{% endif %}
								<div class="caption well">
									<h1>{{r.name}}</h1>
									<div class="heart" >
										{{r.like_num}}<i class="icon-heart"></i>
									</div>
									<p>{{r.brief|truncatechars:100}}</p>

								</div>
							</div>
						</a>
						{% endfor%}
						
					</div>
					{% endif %}
				</div>
			</aside>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{% static "jquery.raty-2.4.5/js/jquery.raty.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/yuStar.js" %}"></script>
	<script type="text/javascript" src="{% static "js/yuSlider.js" %}"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		var flag = true;
		yuSlider('.recommend-img-div','.caption',4000,'#prevA','#nextA');
		yuStar('{% static "jquery.raty-2.4.5/img/" %}');

		// jQuery(window).resize(function() {
	 //    jQuery('.mod-recipe-recommends').css('min-height', jQuery(window).height());
	 //  });
	  // jQuery('.mod-recipe-recommends').css('min-height',jQuery(window).height());
	  jQuery('.mod-recipe-recommends').css('height',450);
		var divH = jQuery('.mod-recipe-recommends').position().top;
	  jQuery(window).scroll(function() {
	    var position = jQuery(this).scrollTop();
	    if (position>=divH){
	      jQuery('.mod-recipe-recommends').css('position', 'fixed');
	      jQuery('.mod-recipe-recommends').css('top', '0px');
	    }
	    else {
	      jQuery('.mod-recipe-recommends').css('position', 'static');
	    }
	    if (position >= jQuery(document).height() - jQuery(window).height() && flag){
	    	flag = false;
	    	jQuery('#next_link').click();
	    }
	   });
		$('#next_link').click(function(){
			var url = $(this).attr('href');
			var postdata = {
				'csrfmiddlewaretoken': '{{ csrf_token }}',
			};
			$.get(url, postdata, function(data){
				$('.pagination').replaceWith(data);
				flag = true;
			});
			return false;
		});
	});
	</script>
	<script type="text/javascript">
		// put date mark on the timeline
		var $html = $('<li class="datesince">Today</li>');
		$('li.action-item > div.today').first().parent().before($html);
		var $html = $('<li class="datesince">Yesterday</li>');
		$('li.action-item > div.yesterday').first().parent().before($html);
		var $html = $('<li class="datesince">In this week</li>');
		$('li.action-item > div.in-this-week').first().parent().before($html);
		var $html = $('<li class="datesince">More than a week ago</li>');
		$('li.action-item > div.more-than-a-week-ago').first().parent().before($html);
		//------------------------------------------------------------------------------//
	</script>
{% endblock%}
