{% extends 'nav.html' %}
{% load activity_tags i18n static %}
{% load static %}
{% block csslink %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/user/act_update.css" %}"/>
{% endblock %}

{% block title %}{% ifequal user actor %}Chef Industry News{% else %}{{ actor }}{% endifequal %}{% endblock %}
{% block content_title %}
	{% ifequal user actor %}
		<h2>What I am interested in ...</h2>
	{% else %}{{ actor }}
	{% endifequal %}
{% endblock %}

{% block content %}
<div id="mod-container">
	<div class="row-fluid container-fluid">
		<section class="mod-main span7 well">
			{% if request.user.is_authenticated %}
			<p>
				<a href="{% actor_url request.user %}">{% trans "View my actions" %}</a>
			</p>
			{% endif %}
			<ul>
				{% for action in action_list %}
				<li>{% include 'actstream/action.html' %}</li>
				{% empty %}
				{% trans "No actions yet" %}
				{% endfor %}
			</ul>
		</section>
		<aside class="mod-side span4 well">
			<div>
				I am following
				{% for f in following %}
				<div class='display_user'>
					<img src="{{f.get_mugshot_url}}" />
					<div class='display_username'>
						<a href="{{f.get_absolute_url}}">{{f}}</a>
					</div>
				</div>
				{% endfor %}
			</div>
			<div>
				They are following me
				{% for f in followers %}
				<div class='display_user'>
					<img src="{{f.get_mugshot_url}}" />
					<div class='display_username'>
						<a href="{{f.get_absolute_url}}">{{f}}</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</aside>
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static "jquery.raty-2.4.5/js/jquery.raty.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/yuStar.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
	yuStar('{% static "jquery.raty-2.4.5/img/" %}');
});
</script>
{% endblock%}
