
{% load i18n %}
{% load static %}


{% for action in action_list %}
	<li class="datesince"></li>
  <li class="action-item">{% include 'actstream/action.html' %}</li>
{% empty %}
  {% trans "No more action" %}
{% endfor %}

<div class="pagination">
	<span class="step-links">
		{% if action_list.has_next %}
		<img id="loading_gif" src="{% static 'img/loading.gif' %}" style="display:none;" />
		<a href="?page={{ action_list.next_page_number }}" id="next_link">Load more activites</a>
		{% endif %}
	</span>
</div>

<script type="text/javascript">
	$('#next_link').click(function(){
		var url = $(this).attr('href');
		var postdata = {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
		}
		$.get(url, postdata, function(data){
			$('.pagination').replaceWith(data);
		})
		return false;
	});
</script>