<!-- food_detail.html -->
<!-- from food.views.FoodDetailView -->

{% extends "nav.html" %}

{% load static from staticfiles %}
{% load url from future %}

{% load thumbnail %}

{% block csslink %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/food/food_detail.css" %}"/>
{% endblock %}

{% block title %}
{{ object.name }} (上厨娘)
{% endblock %}

{% block content %}
<div id="mod-container" class="well">
	<div class="row-fluid container">
		<div class="mod-food-nav span3 well"></div>
		<div class="mod-food-detail span9 well">
			<div class="row-fluid">
				<div class="mod-food-detail-header">
					<div class="header-left span3">
				    {# since food can only be added in admin, so I add /media/ in src attr #}
				    <img class="food-cover-img" src="{{object.cover_image.url}}" alt="food cover image" />
				  </div>
				  <div class="header-right span9">
				    <h2 class="food-name">{{object.name}}</h2>
				    <div class="food-stat">
					    <span class="rel-dish">## relative dishes.</span>
					    <br />
					    <span class="like-num">{{object.like_num}} liked this material.</span>
					  </div>
					  <div>
					    <div class="brief-intro">{{object.brief}}</div>
					    <a href="#" class="hide-show">Show more</a>
					  </div>
				  </div>
			  </div>
			</div>

		  <hr />

		  <div id="mod-food-detail-content" class="tabbable">
				<ul id="content-nav" class="nav nav-tabs">
					<li class="active">
						<a href="#rel-recipes" data-toggle="tab">Relative Recipes</a>
					</li>
					<li>
						<a href="#detail-info" data-toggle="tab">Material Details</a>
					</li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane active row-fluid" id="rel-recipes"></div>
					<div class="tab-pane" id="detail-info">
						<ul>
					    <li>Name: {{ object.name }}</li>
					    <li>View Num: {{ object.view_num }}</li>
					    <li>Category: {{ object.category }}</li>
					    <li>Brief: {{ object.brief }}</li>
					    <li>Storage Time: {{ object.storage_time }}</li>
					    <li>Storage Method: {{ object.storage_method }}</li>
					    <li>Like Num: {{ object.like_num }}</li>
					    <li>Pick Method: {{ object.pick_method }}</li>
					    <li>Food Efficacy: {{ object.food_efficacy }}</li>
				    </ul>
				  </div>
				</div>
			</div>

	    
	  </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static "js/food/food_detail.js" %}"></script>
{% endblock js %}