<!-- food_list.html -->
<!-- from food.views.FoodCategoryListView -->
{% extends "nav.html" %}

{% block content %}
{% if food_list %}
    <table id="foods">
        {% for food in food_list %}
            <tr>
                <td>{{ food.name }}</td>
                <td><a href="/food/{{ food.id }}/" class="see_detail">detail</a></td>
            </tr>
        {% endfor %}
    </table>
    {# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/foods?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/foods?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% else %}
    <h3>My foods</h3>
    <p>No foods found!!! :(</p>
{% endif %}
{% endblock %}