body {
	background: rgb(255, 255, 220);
}

div#mod-container {
	width: 840px;
	margin-left: auto;
	margin-right: auto;
}

div#mod-container #mod-prof-main {
	margin-left: auto;
	margin-right: auto;
}

div#mod-container #mod-prof-main .mod-prof-main-img{
	display: inline;
	padding-right: auto;
	padding-left: 15px;
}

div#mod-container #mod-prof-main .mod-prof-username-h2 {
	color: rgb(130, 130, 130);
	font-size: 22px;
	font-style: bold;
	line-height: 30px;
	margin-bottom: 15px;
	padding-left: 15px;
}

div#mod-container #mod-prof-main .mod-prof-main-about {
	padding-left: 30px;
}

div#mod-container #mod-prof-main .mod-prof-main-about dt {
	color: rgb(140, 140, 140);
	font-size: 14px;
	font-style: bold;
	line-height: 14px;
	margin-bottom: 5px;
}

div#mod-container #mod-prof-main .mod-prof-main-about dd {
	color: rgb(150, 150, 150);
	font-size: 14px;
	font-style: bold;
	line-height: 14px;
	margin-bottom: 5px;
}

div#mod-container #mod-prof-main .mod-prof-main-about dd > a {
	text-decoration: none;
	color: rgb(178, 34, 34);
}

div#mod-container #mod-prof-main .mod-prof-main-about dd > a:link {
	color: rgb(178, 34, 34);
}

div#mod-container #mod-prof-main .mod-prof-main-about dd > a:visited {
	color: rgb(150, 150, 150);
}

div#mod-container #mod-prof-main .mod-prof-main-about dd > a:hover {
	color: rgb(0, 191, 255);
}

div#mod-container #mod-prof-main .mod-prof-main-about dd > a:active {
	background: rgb(0, 191, 255);
	color: white;
}

div#mod-container #mod-prof-details {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

div#mod-container #mod-prof-nav ul li a {
	margin-left: auto;
	margin-right: auto;
}

div#mod-container #mod-prof-details .tab-content {
	padding-left: 15px;
	padding-top: 0px;
}

div#mod-container #mod-prof-details .tab-content .tab-pane dt {
	color: rgb(140, 140, 140);
	font-size: 14px;
	font-style: bold;
	line-height: 14px;
	margin-bottom: 5px;
}

div#mod-container #mod-prof-details .tab-content .tab-pane dd {
	color: rgb(150, 150, 150);
	font-size: 14px;
	font-style: bold;
	line-height: 14px;
	margin-bottom: 5px;
}

div#mod-container #mod-prof-details .tab-content .tab-pane dd > a {
	text-decoration: none;
	color: rgb(178, 34, 34);
}

div#mod-container #mod-prof-details .tab-content .tab-pane dd > a:link {
	color: rgb(178, 34, 34);
}

div#mod-container #mod-prof-details .tab-content .tab-pane dd > a:visited {
	color: rgb(150, 150, 150);
}

div#mod-container #mod-prof-details .tab-content .tab-pane dd > a:hover {
	color: rgb(0, 191, 255);
}

div#mod-container #mod-prof-details .tab-content .tab-pane dd > a:active {
	background: rgb(0, 191, 255);
	color: white;
}

div#mod-container #mod-prof-details .tab-content #cmts textarea {
	resize: none;
	width: 60%;
	height: 200px;
}