#nav-input {
	border-radius: 0px;
}

div.navbar {
	background-color: rgba(255, 255, 255, 0.1);
	height: 55px;
	margin-bottom: 40px;
}

#nav-container {
	height: 50px;
	max-height: 50px;
}

#colorNav {
	height: 50px;
	max-height: 50px;
	margin-top: 10px;
}

#colorNav > ul{
	/*width: 900px;  Increase when adding more menu items */
	margin-top: auto;
	margin-bottom: auto;
	height: 40px;
	max-height: 40px;
	line-height: 40px;
}

#colorNav > ul > li{ /* will style only the top level li */
	list-style: none;
	/*box-shadow: 0 0 10px rgba(100, 100, 100, 0.2) inset,1px 1px 1px #CCC;*/
	display: inline-block;
	line-height: 35px;
	margin: 0px;
	border: 0;
	position:relative;
	height: 35px;
	max-height: 35px;
}

#colorNav > ul > li:not(:last-child) {
	margin-left: 20px;
	margin-right: 0px;
}

#colorNav > ul > li:first-child {
	margin-left: 50px;
}

#colorNav > ul > li:last-child {
	margin-left: 20px;
	margin-right: 40px;
	padding-right: 0px;
}

#colorNav > ul > li > a{
	color:inherit;
	text-decoration:none !important;
	font-size:25px;
	padding: 25px;
}

#colorNav li ul{
	position:absolute;
	list-style:none;
	text-align:center;
	width:180px;
	left:50%;
	margin-left:-90px;
	top:45px;
	font:bold 12px 'Open Sans Condensed', sans-serif;
	
	/* This is important for the show/hide CSS animation */
	max-height:0px;
	overflow:hidden;
	
	-webkit-transition:max-height 0.4s linear;
	-moz-transition:max-height 0.4s linear;
	transition:max-height 0.4s linear;
}

#colorNav li ul li{
	background-color:#313131;
}

#colorNav li ul li a{
	padding:12px;
	color:#fff !important;
	text-decoration:none !important;
	display:block;
}

#colorNav li ul li:nth-child(odd){ /* zebra stripes */
	background-color:#363636;
}

#colorNav li ul li:hover{
	background-color:#444;
}

#colorNav li ul li:first-child{
	/*border-radius:3px 3px 0 0;*/
	margin-top:10px;
	position:relative;
}

#colorNav li ul li:first-child:before{ /* the pointer tip */
	content:'';
	position:absolute;
	width:1px;
	height:1px;
	border:5px solid transparent;
	border-bottom-color:#313131;
	left:50%;
	top:-10px;
	margin-left:-5px;
}

/*#colorNav li ul li:last-child{
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}*/

/* This will trigger the CSS */
/* transition animation on hover */

#colorNav li:hover ul{
	max-height:200px; /* Increase when adding more dropdown items */
}

#welcomePig {
	position: absolute;
	right: 40px;
	top: 110px;

}

#notification {
	z-index:99999;
}


/*----------------------------
	Color Themes
-----------------------------*/


#colorNav li.green{
	/* This is the color of the menu item */
	background-color:#00c08b;
	
	/* This is the color of the icon */
	color:#127a5d;
}

#colorNav li.red{		background-color:#ea5080;color:#aa2a52;}
#colorNav li.blue{		background-color:#53bfe2;color:#2884a2;}
#colorNav li.yellow{	background-color:#f8c54d;color:#ab8426;}
#colorNav li.purple{	background-color:#df6dc2;color:#9f3c85;}

.navbar-inner {
	background-color: transparent; /* background color will be black for all browsers */
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
	border: 0;
	height: 55px;
}

a.scroll-up {
	border-radius: 20px;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.4);
    position:fixed;
    bottom:50px;
    right:100px;
    font-size: 30px;
    text-decoration: none;
    color: black;
    display: none;
}



/* CSS for suggestion box */
#nav-suggestion { position:absolute; border-width:1px; border-color:#919191; border-style:solid; width:320px; background-color:#a0a0a0; font-size:10px; line-height:14px; }
#nav-suggestion a { display:block; background-color:#e4e4e4; clear:left; height:56px; text-decoration:none; }
#nav-suggestion a:hover { background-color:#b7b7b7; color:#ffffff; }
#nav-suggestion a img { float:left; padding:5px 10px; }
#nav-suggestion a span.searchheading { display:block; font-weight:bold; padding-top:5px; color:#191919; }
#nav-suggestion a:hover span.searchheading { color:#ffffff; }
#nav-suggestion a span { color:#555555; }
#nav-suggestion a:hover span { color:#f1f1f1; }
#nav-suggestion span.category { font-size:11px; margin:5px; display:block; color:#ffffff; }
#nav-suggestion span.seperator { float:right; padding-right:15px; margin-right:5px;
      background-image:url(../images/shortcuts_arrow.gif); background-repeat:no-repeat; background-position:right; }
#nav-suggestion span.seperator a { background-color:transparent; display:block; margin:5px; height:auto; color:#ffffff; }