{% extends 'nav.html' %}

{% load static %}

{% block title %}
Advanced Search
{% endblock%}

{% block content %}
<div class="row">
<form id="search_form" method="POST" action="">
	{% csrf_token %}
	<legend>Advanced Search</legend>
	<div>
		<h2>Find Recipes with your ingredients...</h2>
		<table border="0" cellpadding="0" cellspacing="0">
			<tbody>
				{% for form in formset.forms %}
				<tr>
					<th>Ingredient: <th>
					<td>{{ form.ingredient }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
	<div>
		<h2>Then narrow your result by...</h2>
		<table>
			<tbody>
				{% for field in extra_form%}
				<tr>
					<th>
						{{field.label}}
					</th>
					<td>
						{{field}}
					</td>	
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<button class="btn" type="submit">Search</button>
	{{ formset.management_form }}
</form>
{% endblock content %}

{% block js %}
<script type="text/javascript" src="{% static "js/jquery.formset.min.js" %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function (){
		jQuery('#search_form tbody tr').formset({
			prefix: '{{ formset.prefix }}',
			addText: 'Add another ingredient that you have',
			added: function(row){
				row.find('a').attr('tabindex', '-1');
				row.find(':text').attr('autocomplete', 'off');
				row.find(':text').typeahead({
					source: [{% for food in food_name_list%}"{{food.name}}",{% endfor %}],
					items: 4,
				});
			},
		});
		jQuery('a').attr('tabindex', '-1');
		jQuery(':text').attr('autocomplete', 'off');
		jQuery(':text').attr('data-provide','typeahead');
		jQuery(':text').typeahead({
			source: [{% for food in food_name_list%}"{{food.name}}",{% endfor %}],
			items: 4,
		});
	});
</script>
{% endblock js %}