<!-- hot_recipe_list.html -->
<!-- from HotRecipeListView -->
{% extends "nav.html" %}
{% load static %}

{% block csslink %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/recipe/hot.css' %}">
{% endblock %}

{% block content %}
{% if hot_recipe_list %}
	<div id="hot_recipes">
		{% for hot_recipe in hot_recipe_list %}
			<div class="box photo col3">
				<a href="{{ hot_recipe.get_absolute_url }}">
					<img src="{% if hot_recipe.cover_image %}
					{{ hot_recipe.cover_image.url }}
					{% else %}
					/media/no_image_available.jpg
					{% endif %}
					" />
					<div class="caption well">
						<h1>{{hot_recipe.name}}</h1>
						<h3>{{hot_recipe.brief|truncatechars:100}}</h3>
						<div class="heart" >
							{{hot_recipe.like_num}}<i class="icon-heart"></i>
						</div>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
	{# .... **Now the pagination section** .... #}
	{% if is_paginated %}
		<div class="pagination">
			<span class="page-links">
				{% if page_obj.has_previous %}
					<a href="?page={{ page_obj.previous_page_number }}">previous</a>
				{% endif %}
				<span class="page-current">
					Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
				</span>
				{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}">next</a>
				{% endif %}
			</span>
		</div>
	{% endif %}
{% else %}
	<h3>My hot_recipes</h3>
	<p>No hot_recipes found!!! :(</p>
{% endif %}
{% endblock content %}

{% block js %}
<script src="{% static 'js/jquery.masonry.min.js' %}"></script>
<script>
  $(function(){

  	$('.box').hover(
  		function () {
	      jQuery(this).find('.caption').stop(true).fadeIn(400);
	    }, function () {
	      jQuery(this).find('.caption').stop(true).fadeOut(400);
	    }
  	);


    var $container = $('#hot_recipes');


    $container.imagesLoaded( function(){
      $container.masonry({
        itemSelector : '.box',
        isRsizable: true,
        isAnimated: true,
        animationOptions: {
			    duration: 750,
			    easing: 'linear',
			    queue: false
			  }
      });

    });
  
  });
</script>
{% endblock js %}