<!-- hot_recipe_list.html -->
<!-- from HotRecipeListView -->
{% extends "nav.html" %}
{% load static %}
{% load thumbnail %}


{% block csslink %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/recipe/hot.css' %}">
{% endblock %}

{% block title %}
Hot Recipes
{% endblock %}

{% block content %}
{% if hot_recipe_list %}
	<div id="hot_recipes"><img id="loading" src="{% static "img/loading.gif" %}" /> </div>
	{% for hot_recipe in hot_recipe_list %}
	<a class="box-a" href="{{ hot_recipe.get_absolute_url }}">
		<input type="hidden" value="{% if hot_recipe.cover_image %}{{ hot_recipe.cover_image|thumbnail_url:'col' }}{% else %}/media/no_image_available.jpg{% endif %}" />
		<div class="caption well">
			<h1>{{hot_recipe.name}}</h1>
			<div class="heart" >
				{{hot_recipe.like_num}}<i class="icon-heart"></i>
			</div>
			<p>{{hot_recipe.brief|truncatechars:100}}</p>

		</div>
		
	</a>
	{% endfor %}
	
	{# .... **Now the pagination section** .... #}
	{% if is_paginated %}
		<div class="pagination">
			<span class="page-links">
				{% if page_obj.has_previous %}
					<a href="?page={{ page_obj.previous_page_number }}">previous</a>
				{% endif %}
				<span class="page-current">
					Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
				</span>
				{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}">next</a>
				{% endif %}
			</span>
		</div>
	{% endif %}
{% else %}
	<h3>My hot_recipes</h3>
	<p>No hot_recipes found!!! :(</p>
{% endif %}
{% endblock content %}

{% block js %}
<script src="{% static 'js/jquery.masonry.min.js' %}"></script>
<script type="text/javascript">
$(function(){
	var $container = $('#hot_recipes');
	
	$container.masonry({
		itemSelector : '.box',
		isRsizable: true,
		isAnimated: true,
		animationOptions: {
			duration: 350,
			easing: 'linear',
			queue: false
		}
	});

	var items = [],
			item, datum;

	$('.box-a').each(function(i) {
		var s = $(this).find('input').attr('value');
		item = '<div class="box photo col3"><a href="' + $(this).attr('href') + '">'
			+ '<img src="' + s + '" />'
			+ $(this).find('.caption')[0].outerHTML
			+ '</a></div>';
		items.push(item);
	});

	var $items = $( items.join(''));
	$items.imagesLoaded(function() {
		$container.masonry('remove', $('#loading')).masonry().append($items).masonry('appended', $items);
		$items.hover(
			function () {
				jQuery(this).find('.caption').stop(true).fadeIn(400);
			}, function () {
				jQuery(this).find('.caption').stop(true).fadeOut(400);
			}
		);
		$container.masonry('reload');
	});

});
</script>
{% endblock js %}