{% extends 'nav.html' %}

{% load static from staticfiles %}
{% load url from future %}

{% load thumbnail %}

{% block csslink %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/bgstretcher.css" %}" type="text/css" />
{% endblock %}

{% block title %}
上厨娘
{% endblock %}

{% block content %}
  <div id="bg-show"></div>
  <div class="row nav-buttons">
    <div id="nav">&nbsp;</div>
  </div>
  <div class="row">
    <div class="nav-buttons">
      <a href="javascript:;" id="prev">&lsaquo;</a>&nbsp;&nbsp;&nbsp;
      <a href="javascript:;" id="next">&rsaquo;</a>
    </div>
  </div>
  <div class="row">
    <a href="javascript:;" id="toggleAnimation" >PAUSE</a>
  </div>
  <div class="content search-form">
      <form id="searchform" class="form-search" action="{% url 'normal_search' %}" method="POST">
        {% csrf_token %}
      <input class="span4 search-query" id="searchinput" placeholder="Type in a dish name or the main ingredient..." type="search" autocomplete="off">
      <div id="suggestions"></div>
      </form>
  </div>
  <div id="search_results"></div>
  
{% endblock %}

{% block js-head %}
  <script src="{% static "js/modernizr.custom.17475.js" %}"></script>
  <script src="{% static "js/bgstretcher.js" %}"></script>
  <script type="text/javascript">
  var j = jQuery.noConflict();
  j(document).ready(function(){  
    // initialize slider
    j('#bg-show').bgStretcher({
      images: ['/media/Index_Images/bg-img1.jpg', '/media/Index_Images/bg-img2.jpg',
                '/media/Index_Images/bg-img3.jpg','/media/Index_Images/bg-img4.jpg'],
      imageWidth: 1024, 
      imageHeight: 768, 
      slideDirection: 'N',
      nextSlideDelay: 10000,
      slideShowSpeed: 3000,
      slideShow: 'true',
      transitionEffect: 'fade',
      sequenceMode: 'normal',
      buttonPrev: '#prev',
      buttonNext: '#next',
      pagination: '#nav',
      anchoring: 'left center',
      anchoringImg: 'left center'
    });

    // animation control
    j('#toggleAnimation').unbind('click');
    j('#toggleAnimation').click(function(){
      if (j(this).html() == "PAUSE"){
        j(this).html("RESUME");
        j('#bg-show').bgStretcher.pause();
      } else {
        j(this).html("PAUSE");
        j('#bg-show').bgStretcher.play();
      }
    });
    var minlength = 3;
    j('#suggestions').hide();
    j('#searchinput').keyup(function(event) {
      var value = j('#searchinput').val(),
          url = '';
      if(value.length >= minlength) {
        var postdata = {'q': value, 'csrfmiddlewaretoken': '{{ csrf_token }}'}
        j.post(url, postdata,
          function(data) {
            j('#suggestions').fadeIn();
            j('#suggestions').empty().append(data);
          }
        );
      }
      else {
        j('#suggestions').fadeOut();
      }
    });

    j('#searchinput').keypress(function (event){
      if (event.which == 13){
        j('#searchform').submit();
      }
    });
    
    j('#searchform').submit(function(event) {
      event.preventDefault();
      var value = j('#searchinput').val(),
          url = j(this).attr('action');
      var postdata = {'q': value, 'csrfmiddlewaretoken': '{{ csrf_token }}'}
      if(value.length >= minlength) {
        j.post(url, postdata,
          function(data) {
            j('#search_results').fadeIn();
            j('#search_results').empty().append(data);
          }
        );
      }
      else {
        j('#search_results').fadeOut();
      }
    });

  });
</script>
{% endblock js-head%}

{% block js %}
  <script type="text/javascript" src="{% static "js/recipe/index.js" %}"></script>
{% endblock js %}
