{% extends 'nav.html' %}

{% load static from staticfiles %}
{% load url from future %}

{% block csslink %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/recipe/index.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "css/bgstretcher.css" %}" type="text/css" />
{% endblock %}

{% block title %}
上厨娘
{% endblock %}

{% block content %}
  <!--div class="container row-fluid">
		  <img id="body" style="display:none;" src="http://img.wordsmotivate.me/2012.10/2012.10.29_1920x1080.jpg" alt="" />
		  <img id="body" style="display:none;" src="http://img.wordsmotivate.me/2012.10/2012.10.28_1920x1080.jpg" alt="" />
		  <img id="body" style="display:none;" src="http://img.wordsmotivate.me/2012.10/2012.10.27_1920x1080.jpg" alt="" />
		  <img id="body" style="display:none;" src="http://img.wordsmotivate.me/2012.10/2012.10.26_1920x1080.jpg" alt="" />
  </div-->
  <div class="row nav-buttons">
    <div id="nav">&nbsp;</div>
  </div>
  <div class="row">
    <div class="nav-buttons">
      <a href="javascript:;" id="prev">&lsaquo;</a>&nbsp;&nbsp;&nbsp;
      <a href="javascript:;" id="next">&rsaquo;</a>
    </div>
  </div>
  <div class="row">
    <a href="javascript:;" id="toggleAnimation" >PAUSE</a>
  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static "js/bgstretcher.js" %}"></script>
  <script type="text/javascript">
  $(document).ready(function(){  
    // initialize slider
    $('BODY').bgStretcher({
      images: ['/static/img/bg-food1.jpg', '/static/img/bg-food2.jpg',
        '/static/img/bg-food3.jpg', '/static/img/bg-food4.jpg'],
      imageWidth: 1024, 
      imageHeight: 768, 
      slideDirection: 'N',
      slideShowSpeed: 1000,
      slideShow: true,
      transitionEffect: 'fade',
      sequenceMode: 'normal',
      buttonPrev: '#prev',
      buttonNext: '#next',
      pagination: '#nav',
      anchoring: 'left center',
      anchoringImg: 'left center'
    });

    // animation control
    $('#toggleAnimation').unbind('click');
    $('#toggleAnimation').click(function(){
      if ($(this).html() == "PAUSE"){
        $(this).html("RESUME");
        $('BODY').bgStretcher.pause();
      } else {
        $(this).html("PAUSE");
        $('BODY').bgStretcher.play();
      }
    });
  });
</script>
{% endblock %}
