<!-- recipe_list.html -->
<!-- from recipe.views.RecipeCategoryListView -->
{% extends "nav.html" %}

{% load static from staticfiles %}
{% load url from future %}
{% load activity_tags %}
{% load comments %}

{% load thumbnail %}

{% block csslink %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/recipe/recipe_list.css" %}"/>
<link href='http://fonts.googleapis.com/css?family=Gorditas:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Kite+One' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title %}
{{category}}&nbsp;(上厨娘)
{% endblock %}

{% block content %}
{% if recipe_list %}
<div id="mod-container">
	<div class="row-fluid container">
		<div class="mod-list-nav span3 well well-small">
			<div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              <h2 class="parent-cat">Courses</h2>
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
              {% for c in Courses %}
								<ul>
									<li><a href="{{c.get_absolute_url}}">{{c}}</a></li>
								</ul>
							{% endfor %}
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              <h2 class="parent-cat">Cuisines</h2>
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
              {% for c in Cuisines %}
								<ul>
									<li><a href="{{c.get_absolute_url}}">{{c}}</a></li>
								</ul>
							{% endfor %}
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
              <h2 class="parent-cat">Main Ingredients</h2>
            </a>
          </div>
          <div id="collapseThree" class="accordion-body collapse">
            <div class="accordion-inner">
              {% for m in Main_Ingredients %}
								<ul>
									<li><a href="{{m.get_absolute_url}}">{{m}}</a></li>
								</ul>
							{% endfor %}
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
              <h2 class="parent-cat">Special Diets</h2>
            </a>
          </div>
          <div id="collapseFour" class="accordion-body collapse">
            <div class="accordion-inner">
              {% for s in Sepcial_Diets %}
								<ul>
									<li><a href="{{s.get_absolute_url}}">{{s}}</a></li>
								</ul>
							{% endfor %}
            </div>
          </div>
        </div>
      </div>
		</div>
		<div class="mod-list-detail span9 well well-small">
			<h1 class="mod-page-title">{{category}}</h1>
			<div class="detail-nav">
				
			</div>
			<div class="rank-hot">
				{% for recipe in recipe_list %}
				<div class="recipe list row-fluid">
					<div class="recipe-img span4">
						<a href="{{ recipe.get_absolute_url }}" class="see_detail">
							<img src="{{recipe.cover_image|thumbnail_url:'normal'}}" alt="recipe cover image" />
						</a>
					</div>
					<div class="recipe-txt span8">
						<div class="name">
							<h3>
								<a href="{{ recipe.get_absolute_url }}" class="see_detail">
									{{ recipe.name }}&nbsp;-&nbsp;
									<div class="author">{{recipe.author}}</div>
									<div class="like-num pull-right"><i class="icon-heart"></i>&nbsp;{{recipe.like_num}}</div>
								</a>
							</h3>
						</div>
						<div class="rating medstar{{recipe.rating_int}}"></div>&nbsp;<div class="rating-num">{{recipe.rating|floatformat:1}}</div>
						<div class="ingredients">
							{% for i in recipe.amount_set.all %}
								{% if i.must %}
								<span>{{i.ingredient}}</span>
								{% endif %}
							{% endfor %}
						</div>
						<div class="brief">
							<p>"{{recipe.brief|truncatechars:100}}"</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			{# .... **Now the pagination section** .... #}
			{% if is_paginated %}
			<div class="pagination">
				<span class="page-links">
					{% if page_obj.has_previous %}
					<a href="/recipes?page={{ page_obj.previous_page_number }}">previous</a>
					{% endif %}
					<span class="page-current">
						Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
					</span>
					{% if page_obj.has_next %}
					<a href="/recipes?page={{ page_obj.next_page_number }}">next</a>
					{% endif %}
				</span>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% else %}
<h3>My recipes</h3>
<p>No recipes found!!! :(</p>
{% endif %}
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static "jquery.raty-2.4.5/js/jquery.raty.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/yuStar.js" %}"></script>
<script type="text/javascript">
jQuery(document).ready(function () {
	yuStar('{% static "jquery.raty-2.4.5/img/" %}');
});
</script>
{% endblock %}