<!-- recipe_detail.html -->
<!-- from recipe.views.RecipeDetailView -->
{% extends "nav.html" %}

{% load static from staticfiles %}
{% load url from future %}
{% load activity_tags %}

{% load thumbnail %}

{% block csslink %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/recipe/recipe_detail.css" %}"/>
{% endblock %}

{% block title %}
{{ object.name }}_{{ object.author }}(上厨娘)
{% endblock %}

{% block content %}
<div id="mod-container">
  <div class="row-fluid container-fluid">
    <section class="mod-main span7 well">
     <h1 class="mod-page-title" itemprop="dish-name">{{ object.name }}</h1>
     <div id="recipe_img_div" class="mod-recipe-img well">
      {% if object.cover_image %}
      <img id="recipe_img" src="{{ object.cover_image.url }}" alt="" />
      {% else %}
      <img id="recipe_img" src="/media/no_image_available.jpg" alt="" />
      {% endif %}
    </div>
    <div class="mod-recipe-stat">
      <span class="mod-recipe-count">
        <span class="mod-recipe-did">
          {{ object.did_num }} did this.
        </span>
        <span class="mod-recipe-count-sep">|</span>
        <span class="mod-recipe-liked"> 
          {{ object.like_num }} liked this.
        </span>
        <span class="mod-recipe-count-sep">|</span>
        <span class="mod-recipe-viewed">
          {{ object.view_num }} viewed this.
        </span>
      </span>
      {% if user.is_authenticated %}
      <span class="mod-recipe-like pull-right">
          {% if object in user.get_profile.favourite_recipes.all %}
          <a href="#" id="likehref">
            <button class="btn" id="mod-recipe-likedbtn" disabled="disabled">
          Liked</button>
          </a>
          {% else %}
          <a href="{% url 'like' object.id %}" id="likehref">
            <button class="btn" id="mod-recipe-likebtn"><i class="icon-heart"></i>
          Lovin' it!</button>
          </a>
          {% endif %}
        
      </span>
      {% endif %}
    </div>
    <div class="mod-recipe-ratings">
        Ratings: <div id="star"></div>
        <div>{{object.rating_num}} rated this.</div>
    </div>
    <div class="mod-recipe-share">
      <span class="mod-recipe-upload">
        <a href="{% url 'did_recipe_upload' object.id %}">Upload your own recipe for this dish?</a>
      </span>
    </div>

    <hr />

    <!--li><a href="/accounts/{{ object.author }}">{{ object.author }}</a></li-->
    <!--div>{{ object.date }}</div-->
    <!--div>{{ object.category }}</div-->
    <div class="mod-recipe-brief">
      <h2 class="mod-recipe-title-h2">Brief Introduction</h2>
      <p class="mod-recipe-brief-content well">
        {{ object.brief }}
      </p>
    </div>

    <div class="mod-reicpe-ingredients">
      <h2 class="mod-recipe-title-h2">
        Ingredients
      </h2>
      <ul class="well">
       {% for ingredient in object.amount_set.all %}
       {% if ingredient.must %}
       <li>{{ ingredient.ingredient }}: {{ ingredient.amount }}</li>
       {% else %}
       <li>{{ ingredient.ingredient }}: {{ ingredient.amount }}</li>
       {% endif %}
       {% endfor %}
      </ul>
    </div>
    <div class="mod-recipe-steps">
      <h2 class="mod-recipe-title-h2">
        Instructions
      </h2>
      <ol class="well">
       {% for step in object.step_set.all %}
       <li>{{ step.step_num }}:{{step.description}}</li>
       {% endfor %}
     </ol>
    </div>
    <div class="mod-recipe-tip">
      <h2 class="mod-recipe-title-h2">Chef's Notes</h2>
      <p class="mod-recipe-tip-content well">
        {{ object.tips }}
      </p>
    </div>

    <hr />

    {% if user.is_authenticated %}
    <div class="mod-recipe-comments">
      <a data-toggle="modal" href="#rateModal">Wanna to say about the dish?</a>
    </div>
    {% else %}
    <div class="mod-recipe-comments">
      <a data-toggle="modal" href="#myModal">Log in to rate it</a>
    </div>
    {% endif %}

    <hr />

    <div class="mod-recipe-recommends">
      <h2 class="mod-recipe-title-h2">
        People Also Like
      </h2>
      {% if recommends %}
      <ul>
        {% for r in recommends %}
        <li>
          <a href="{{r.get_absolute_url}}">{{r.name}}</a>
        </li>
        {% endfor%}
      </ul>
      {% endif %}
    </div>
    </section>
    <aside class="mod-side span4 well">
      <div class="mod-author">
        <img src="{{object.author.get_profile.get_mugshot_url}}" id="mod-author-img" />
        <a href="{{ object.author.get_absolute_url }}">
          <span id="mod-author-name">{{ object.author.username }}</span>
        </a>
      </div>
      <div class="mod-vote">
        <h2 class="mod-recipe-title-h2">
          Who tried this before?
        </h2>
        <ul>
          {% for v in votelist %}
          <div><div><a href="{{v.user.get_absolute_url}}">{{v.user}}</a><div class="medstar{{v.score}}"></div></div><div>{{ v.comment }}</div><div>{{ v.date|timesince }} ago</div></div>
          
          {% empty %}
          <div>No ratings yet...</div>
          {% endfor %}
        </ul>
      </div>
    </aside>
  </div>
</div>
<div class="modal hide fade" tabindex="-1" aria-hidden="true" id="rateModal">
  <div class="modal-header">
    
    <legend id="modal-title">
      <button id="modal-closebtn" type="button" class="close" data-dismiss="modal">x</button>
      <span>Leave a comment ...</span>
    </legend>
  </div>
  <div class="modal-body" id="comment_modal_body">
    <form method="post" action="{% url 'rate' object.id %}" id="vote_form">
      {% csrf_token %}
      <fieldset>
        <input type="hidden" name="recipe" id="id_recipe" value="{{object.id}}" />
        <input type="hidden" name="user" id="id_user" valuse="{{user.id}}" />
        <div id="modal-rating-title">How do you like me, my dear?</div>&nbsp;&nbsp;&nbsp;&nbsp;
        <div id="comment_star"></div>
        <div id="comment_target"></div>
        <br />
        <div id="modal-cmt-title">
          <span>Short comment:</span>
          <span class="pull-right">140</span>
        </div>
        {% if vote %}
        <textarea name="comment" id="id_comment" maxlength="140">{{ vote.comment }}</textarea>
        {% else %}
        <textarea name="comment" id="id_comment" maxlength="140"></textarea>
        {% endif %}
        <p>
          <input type="hidden" name="score" id="id_score" />
          <button type="submit" class="btn btn-primary pull-right">Save</button>
        </p>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static "js/yuEffect.js" %}"></script>
<script type="text/javascript" src="{% static "jquery.raty-2.4.5/js/jquery.raty.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/yuStar.js" %}"></script>
<script type="text/javascript">
var j = jQuery.noConflict();
j(document).ready(function() {
  yuEffect(j("#recipe_img_div"),j("#recipe_img"),200);
  yuStar('{% static "jquery.raty-2.4.5/img/" %}');

  j('#star').raty({
    path: '{% static "jquery.raty-2.4.5/img/" %}',
    half: true,
    readOnly: true,
    size: 24,
    score: {{ object.rating }}
  });
  j('#comment_star').raty({
    path: '{% static "jquery.raty-2.4.5/img/" %}',
    {% if vote %}
    score: {{vote.score}},
    {% else %}
    score: 0,
    {% endif %}
    size: 24,
    target: '#comment_target',
    click: function(score, evt){
      j('#id_score').val(score);
    }
  })
  j('#vote_form').submit(function(event) {
    event.preventDefault();
    {% if vote %}
    var s = {{ vote.score }};
    {% endif %}
    if (j('#id_score').val()) {
      var s = j('#id_score').val();
    }
    var c = j('#id_comment').val(),
        url = j(this).attr( 'action' );

    var postdata = {
      'score': s,
      'comment': c,
      'csrfmiddlewaretoken': '{{ csrf_token }}'
    }
    /* Send the data using post and put the results in a div */
    j.post( url, postdata,
      function( data ) {
          j( "#comment_modal_body" ).append( data );
          setTimeout(function() {
            j( "#rateModal").modal('hide');
            j('#ajax-feedback').remove();
          }, 500);
      });
  });
  j('#likehref').click(function() {
    var url = j('#likehref').attr('href');
    var postdata = {
      'csrfmiddlewaretoken': '{{ csrf_token }}'
    }
    j.post(url, postdata, function(data){
      j('#mod-recipe-likebtn').html(data);
      j('#likehref').attr('href', '#');
    });
    return false;
  });
});


</script>
<script type="text/javascript" src="{% static "js/recipe/recipe_detail.js" %}"></script>
{% endblock js %}