<!-- recipe_detail.html -->
{% extends "nav.html" %}

{% block content %}
    <h2>Recipe</h2>
    <ul>
            <li>{{ object.name }}</li>
            <li>{{ object.author }}</li>
            <li>{{ object.date }}</li>
            <li>{{ object.category }}</li>
            <li>{{ object.brief }}</li>
            <ul>
            	{% for ingredient in object.ingredients.all %}
            		<li>{{ ingredient }}</li>
            	{% endfor %}
            </ul>
            <li><img src="/media/{{ object.cover_image }}" alt="" /></li>
            <li>{{ object.tips }}</li>
            <li>{{ object.did_num }}</li>
            <li>{{ object.like_num }}</li>
            <li>{{ object.view_num }}</li>
    </ul>
{% endblock %}