<!-- recipe_form.html -->
{% extends 'nav.html' %}

{% load i18n %}
{% load url from future %}
{% load static %}

{% block title%}
Upload your Recipe
{% endblock title%}

{% block csslink %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static "css/timepicker.css" %}">
<link href="{{ STATIC_URL }}ajaxuploader/css/fileuploader.css" media="screen" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static "css/recipe/recipe_form.css" %}"/>
<link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700' rel='stylesheet' type='text/css'>
{% endblock csslink %}

{% block content %}
<form id="newFormsets" method="post" enctype="multipart/form-data" action="" class="well well-small">
  {% csrf_token %}
<fieldset>
  <legend>Create a recipe</legend>  
  <table id="recipe_table" class="container span12">
    <thead style="display:none;">
      <th>Form Name</th>
      <th>Form Content</th>
    </thead>
    <tbody class="row-fluid">
      <tr class="span12" style="margin-left:20px;">
        <td class="form-label span2">{{recipe_form.name.label}}</td>
        <td class="offset1 span8">{{recipe_form.name}}
          <span class="help-inline">{% for error in recipe_form.name.errors %}{{ error|escape }}{% endfor %}
          </span></td>
      </tr>
      {{recipe_form.author}}
      {{recipe_form.category}}
      <tr class="span12">
        <td class="form-label span2">Courses</td>
        <td class="offset1 span8">
          <select class="seperated_select">
            <option>None</option>
            {% for c in Courses%}
            {% if c in category_list %}
            <option value="{{c.id}}" selected>{{c.name}}</option>
            {% else %}
            <option value="{{c.id}}">{{c.name}}</option>
            {% endif %}
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr class="span12">
        <td class="form-label span2">Cuisine</td>
        <td class="offset1 span8">
          <select class="seperated_select">
            <option>None</option>
            {% for c in Cuisines%}
            {% if c in category_list %}
            <option value="{{c.id}}" selected>{{c.name}}</option>
            {% else %}
            <option value="{{c.id}}">{{c.name}}</option>
            {% endif %}
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr class="span12">
        <td class="form-label span2">Main Ingredient</td>
        <td class="offset1 span8">
          <select class="seperated_select">
            <option>None</option>
            {% for c in Main_Ingredients%}
            {% if c in category_list %}
            <option value="{{c.id}}" selected>{{c.name}}</option>
            {% else %}
            <option value="{{c.id}}">{{c.name}}</option>
            {% endif %}
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr class="span12">
        <td class="form-label span2">Special Diet</td>
        <td class="offset1 span8">
          <select class="seperated_select">
            <option>None</option>
            {% for c in Special_Diets%}
            {% if c in category_list %}
            <option value="{{c.id}}" selected>{{c.name}}</option>
            {% else %}
            <option value="{{c.id}}">{{c.name}}</option>
            {% endif %}
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr class="span12">
        <td class="form-label span2">{{recipe_form.brief.label}}</td>
        <td class="offset1 span8">{{recipe_form.brief}}<span class="help-inline">{% for error in recipe_form.brief.errors %}{{ error|escape }}{% endfor %}
          </span></td>
      </tr>
      <tr class="span12">
        <td class="form-label span2">Cover Image</td>
        <td class="offset1 span8">
          <div id="cover_image_frame">
            <img id="cover_image_preview" />{{recipe_form.cover_image}}
            <div id="recipe_uploader"></div>
            <button class="btn" id="cover_image_delete">X</button>
          </div>
        </td>
      </tr>
      <tr class="span12">
        <td class="form-label span2">Notes</td>
        <td class="offset1 span8">{{recipe_form.tips}}<span class="help-inline">{% for error in recipe_form.tips.errors %}{{ error|escape }}{% endfor %}
          </span></td>
      </tr>
      <tr class="span12">
        <td class="form-label span2">Preparation Time</td>
        <td class="offset1 span8">
          <div class="input-append bootstrap-timepicker-component">
            <input type="text" class="timepicker-default input-small" name="prep_time" value="{{recipe_form.prep_time.value}}">
            <span class="add-on">
                <i class="icon-time"></i>
            </span>
          </div>
          <span class="help-inline">{% for error in recipe_form.cook_time.errors %}{{ error|escape }}{% endfor %}
          </span></td>
      </tr class="span12">
      <tr class="span12">
        <td class="form-label span2">Cook Time</td>
        <td class="offset1 span8">
          <div class="input-append bootstrap-timepicker-component">
            <input type="text" class="timepicker-default input-small" name="cook_time" value="{{recipe_form.cook_time.value}}">
            <span class="add-on">
                <i class="icon-time"></i>
            </span>
          </div>
          <span class="help-inline">{% for error in recipe_form.cook_time.errors %}{{ error|escape }}{% endfor %}
          </span></td>
      </tr>
    </tbody>
  </table>
</fieldset>

<fieldset id="mod-ingredient">
<legend>How about the ingredients?</legend>  
{{ amount_formset.management_form }}
<table id="ingredient_table"> 
  <thead class="row-fluid">
    <tr>
      <th><div class="span6">Ingredient</div></th>
      <th><div class="span3">Amount</div></th>
      <th><div class="offset2 span3">Must?</div></th>
    </tr>
  </thead>    
  <tbody class="row-fluid">
    {% for form in amount_formset %}
    <tr>{{ form.recipe }}
      <td><div class="span6">{{ form.ingredient }}</div></td>
      <td><div class="span3 mini">{{ form.amount }}</div></td>
      <td><div class="offset2 span3">{{ form.must }}</div></td>
    </tr>
    {% endfor %}
  </tbody> 
</table>
</fieldset>
<fieldset id="mod-step">
<legend>Wanna share your cooking steps with us?</legend>
{{ step_formset.management_form }}
<table id="step_table" class="">
  <thead>
    <tr>
      <th><div class="span1">Step Num</div></th>
      <th><div class="span3">Step Description</div></th>
      <th><div class="span3">Step Image</div></th>
    </tr>
  </thead>
  <tbody>
    {% for form in step_formset %}
    <tr>{{form.recipe}}
      <td><div class="step_num_counter span1"></div></td>
      <td><div class="span3">{{ form.description }}</div></td>
      <td>
        <div class="step_image_frame span3">{{ form.step_image }}
          <img class="step_preview" id="step{{forloop.counter0}}_preview" />
          <div class="step-uploader"></div>
          <button class="btn step_image_delete">X</button>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody> 
</table>
</fieldset>
<button type="submit" id="save_button" class="btn btn-primary pull-right">Save</button>

</form>
{% endblock content %}

{% block js %}
<script type="text/javascript" src="{% static "js/jquery.formset.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap-timepicker.js" %}"></script>

<script src="{{ STATIC_URL }}ajaxuploader/js/fileuploader.js" ></script>  
<script type="text/javascript" src="{% static "js/recipe/recipe_form.js" %}"></script>
<script type="text/javascript">
function bindSelet(){
  var l = new Array();
  $('.seperated_select').each(function (i){
    if ($(this).val()!='None'){
      l.push($(this).val());
    }
  });
  $('#id_category').val(l);
}

$('body').on('click', '.step_image_delete', function(event) {
  event.preventDefault();
  var del = $(event.target);
  var preview  = $(event.target).siblings('img');
  var input = $(event.target).siblings('input');
  var up = $(event.target).siblings('.step-uploader');
  var url = '{% url "image_delete"%}';
  var postdata = {
    'file': $(input).val(),
    'csrfmiddlewaretoken': '{{ csrf_token }}',
  }

  $.post(url, postdata, function(data){
    if (data=='success'){
      $(del).hide();
      $(preview).attr('src','');
      $(preview).hide('slow');
      $(input).val('');
      $(up).show();
    }
  });
});

$(document).ready(function() {
  $('.timepicker-default').timepicker({
    minuteStep: 10,
    defaultTime: '01:00',
    showMeridian: false,
  });
  $('#id_category').hide();
  $('.seperated_select').change(function (){
    bindSelet();
  });

  stepCount(jQuery('.step_num_counter'));

  $('#cover_image_delete').click(function (event) {
    event.preventDefault();
    var url = '{% url "image_delete"%}'
    var postdata = {
      'file': $('#id_cover_image').val(),
      'csrfmiddlewaretoken': '{{ csrf_token }}',
    }
    $.post(url, postdata, function(data){
      if (data=='success'){
        $('#cover_image_delete').hide();
        $('#cover_image_preview').attr('src','');
        $('#cover_image_preview').hide('slow');
        $('#id_cover_image').val('');
        $('#recipe_uploader').show();
      }
    });
  });

  if($('#id_cover_image').val()){
    $('#cover_image_preview').attr(
      'src','/media/'+ $('#id_cover_image').val()
    );
    $('#recipe_uploader').hide();
    $('#cover_image_delete').show();
  }
  
  $('.step_preview').each(function (i){
    if($('#id_step-'+i+'-step_image').val()){
      $('#step'+i+'_preview').attr('src',
        $('#id_step-'+i+'-step_image').val());
      $($('.step_image_delete').get(i)).show();
      $($('.step-uploader').get(i)).hide();
    }
    
  });

 $('#ingredient_table tbody tr').formset({
  prefix: '{{ amount_formset.prefix }}',
  formCssClass: 'dynamic_amount_formset',
});

 $('#step_table tbody tr').formset({
  prefix: '{{ step_formset.prefix }}',
  formCssClass: 'dynamic_step_formset',
  removed: function(row){
    stepCount(jQuery('.step_num_counter'));
  },
  added: function(row) {
    stepCount(jQuery('.step_num_counter'));
    var uploader1 = new qq.FileUploader({
      action: "{% url 'step_image_upload' %}",
      element: row.find('.step-uploader')[0],
      multiple: false,
      onComplete: function(id, fileName, responseJSON) {
        if(responseJSON.success) {
          row.find('[id*="step_image"]').val(responseJSON.path);
          row.find('.step_preview').attr('src', '/media/'+responseJSON.path);
          row.find('.step_image_delete').show();
          row.find('.step-uploader').hide();
          row.find('.step_preview').show('slow');
          $('.qq-upload-list').css('display','none');
        } else {
          alert("upload failed!");
        }
      },
      params: {
        'csrf_token': '{{ csrf_token }}',
        'csrf_name': 'csrfmiddlewaretoken',
        'csrf_xname': 'X-CSRFToken',
      },
    });
  },
});

 $('.step-uploader').each(function (i){
  var sd = $('.step_image_delete').get(i),
      su = $('.step-uploader').get(i),
      preview = $('.step_preview').get(i);
  var uploader2 = new qq.FileUploader({
    action: "{% url 'step_image_upload' %}",
    element: $('.step-uploader')[i],
    multiple: false,
    onComplete: function(id, fileName, responseJSON) {
      if(responseJSON.success) {
        $('#id_step-'+i+'-step_image').val(responseJSON.path);
        $('#step'+i+'_preview').attr('src', '/media/'+responseJSON.path);
        $(sd).show();
        $(su).hide();
        $(preview).show('slow');
        $('.qq-upload-list').css('display','none');
      } else {
        alert("upload failed!");
      }
    },
    params: {
      'csrf_token': '{{ csrf_token }}',
      'csrf_name': 'csrfmiddlewaretoken',
      'csrf_xname': 'X-CSRFToken',
    },
  });
});


 var uploader = new qq.FileUploader({
  action: "{% url 'recipe_image_upload' %}",
  element: $('#recipe_uploader')[0],
  multiple: false,
  onComplete: function(id, fileName, responseJSON) {
    if(responseJSON.success) {
      $('#id_cover_image').val(responseJSON.path);
      $('#cover_image_preview').attr('src', '/media/'+responseJSON.path);

      $('.qq-upload-list').css('display','none');
      $('#cover_image_delete').show();
      $('#cover_image_preview').show('slow');
      $('#recipe_uploader').hide();
    } else {
      alert("upload failed!");
    }
  },
  params: {
    'csrf_token': '{{ csrf_token }}',
    'csrf_name': 'csrfmiddlewaretoken',
    'csrf_xname': 'X-CSRFToken',
  },
});
});

$(document).ready(function () {
  $('td > div.mini > input').addClass('input-mini');

  var $content = $('a.delete-row').html();
  $content = '<i class="icon-trash"></i> ' + $content;
  $('a.delete-row').html($content);

  $content = $('a.add-row').html();
  $content = '<i class="icon-plus-sign"></i> ' + $content;
  $('a.add-row').html($content);
});
</script>
{% endblock js%}