<!-- recipe_list.html -->
<!-- from recipe.views.RecipeCategoryListView -->
{% extends "nav.html" %}

{% load static from staticfiles %}
{% load url from future %}
{% load activity_tags %}
{% load comments %}

{% load thumbnail %}

{% block csslink %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/recipe/recipe_list.css" %}"/>
<link href='http://fonts.googleapis.com/css?family=Gorditas:400,700' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title %}
{{category}}(上厨娘)
{% endblock %}

{% block content %}
{% if recipe_list %}
<div id="mod-container" class="well well-small">
	<div class="row-fluid container">
		<div class="mod-food-nav span3 well well-small">
			{% for c in category_list %}
			<ul>
				<li>{{c}}</li>
			</ul>
			{% endfor %}
		</div>
		<div class="mod-food-detail span9 well well-small">
			<h1 class="mod-page-title">{{category}}</h1>
			<table id="recipes">
				{% for recipe in recipe_list %}
				<tr>
					<td>{{ recipe.name }}</td>
					<td><a href="{{ recipe.get_absolute_url }}" class="see_detail">detail</a></td>
				</tr>
				{% endfor %}
			</table>
			{# .... **Now the pagination section** .... #}
			{% if is_paginated %}
			<div class="pagination">
				<span class="page-links">
					{% if page_obj.has_previous %}
					<a href="/recipes?page={{ page_obj.previous_page_number }}">previous</a>
					{% endif %}
					<span class="page-current">
						Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
					</span>
					{% if page_obj.has_next %}
					<a href="/recipes?page={{ page_obj.next_page_number }}">next</a>
					{% endif %}
				</span>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% else %}
<h3>My recipes</h3>
<p>No recipes found!!! :(</p>
{% endif %}
{% endblock %}