{% extends 'nav.html' %}

{% load static from staticfiles %}
{% load url from future %}

{% load thumbnail %}

{% block csslink %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/bgstretcher.css" %}" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Chela+One' rel='stylesheet' type='text/css' />
{% endblock %}

{% block title %}
上厨娘
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="login-modal">
  <div class="logbar">
    <div class="logbar-sign">
      {% if user.is_authenticated %}
        <a href="{% url 'userena_profile_detail' user.username %}"><i class="icon-user"></i></a>
      {% else %}
        <a href="#" data-toggle="modal"><i class="icon-user"></i></a>
      {% endif %}
    </div>
    <div class="logbar-content">
      {% if user.is_authenticated %}
      <a href="{% url 'userena_profile_detail' user.username %}#prof" id="u-profile"><i class="icon-file"></i> My Profile</a><br />
      <a href="{% url 'userena_profile_detail' user.username %}" id="u-recipe"><i class="icon-glass"></i> My Recipes</a><br />
      <a href="{% url 'userena_signout' %}" id="u-signout"><i class="icon-signout"></i> Sign Out</a>
      {% else %}
      <a data-toggle="modal" href="#signinModal" id="u-signin"><i class="icon-signin"></i> Sign In</a><br />
      <a data-toggle="modal" href="{% url 'userena_signup' %}" id="u-signout"><i class="icon-plus"></i> Sign Up</a><br />
      {% endif %}
    </div>
  </div>
  <div class="modal hide fade" tabindex="-1" aria-hidden="true" id="signinModal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">x</button>
      <legend>Sign In</legend>
    </div>
    <div class="modal-body">
      <form method="post" action="{% url 'userena_signin' %}" >
        {% csrf_token %}
        <fieldset>
          <img src="{% static 'img/welcome_pig.jpg' %}" id="welcomePig"/>
          <p><input type="text" class="span3" name="identification" id="email" placeholder="Username or Email"></p>
          <p><input type="password" class="span3" name="password" placeholder="Password"></p>
          <p class="checkbox">
            <label for="id_remember_me"><input type="checkbox" name="remember_me" id="id_remember_me" /> Remember me for a month</label>
          </p>
          <p><button type="submit" class="btn btn-primary">Sign in</button>
            <a href="{% url 'userena_password_reset' %}">Forgot Password?</a>
          </p>
        </fieldset>
      </form>
    </div>
    <div class="modal-footer">
      New To MyWebsite.com?
      <a href="{% url 'userena_signup' %}" class="btn btn-primary">Sign Up</a>
    </div>
  </div>
</div>
<div class="circular-show-outer upper-level">
  <ul class="circular-show-inner upper-level">
    <li class="show-item" id="courses">
      <a href="#">
        <div class="show-img"></div>
        <div class="show-caption">Courses</div>
      </a>
    </li>
    <li class="show-item" id="cuisines">
      <a href="#">
        <div class="show-img"></div>
        <div class="show-caption">Cuisines</div>
      </a>
    </li>
    <li class="show-item" id="sources">
      <a href="#">
        <div class="show-img"></div>
        <div class="show-caption">Sources</div>
      </a>
    </li>
    <li class="show-item" id="diets">
      <a href="#">
        <div class="show-img"></div>
        <div class="show-caption">Diets</div>
      </a>
    </li>
    <li class="show-item hot" id="hot">
      <a href="{% url 'hot_recipes' %}">
        <div class="show-img"></div>
        <div class="show-caption">Hot!</div>
      </a>
    </li>
  </ul>
</div>
<div class="circular-show-outer lower-level">
  <ul class="circular-show-inner lower-level" data-target="courses">
    {% for c in Courses %}
      <li class="show-item" data-target="courses">
        <a href="{{c.get_absolute_url}}">
          <div class="show-img"></div>
          <div class="show-caption">{{c.name}}</div>
        </a>
      </li>
    {% endfor %}
  </ul>
  <ul class="circular-show-inner lower-level" data-target="cuisines">
    {% for c in Cuisines %}
      <li class="show-item" data-target="cuisines">
        <a href="{{c.get_absolute_url}}">
          <div class="show-img"></div>
          <div class="show-caption">{{c.name}}</div>
        </a>
      </li>
    {% endfor %}
  </ul>
  <ul class="circular-show-inner lower-level" data-target="sources">
    {% for c in Main_Ingredients %}
      <li class="show-item" data-target="sources">
        <a href="{{c.get_absolute_url}}">
          <div class="show-img"></div>
          <div class="show-caption">{{c.name}}</div>
        </a>
      </li>
    {% endfor %}
  </ul>
  <ul class="circular-show-inner lower-level" data-target="diets">
    {% for c in Special_Diets %}
      <li class="show-item" data-target="diets">
        <a href="{{c.get_absolute_url}}">
          <div class="show-img"></div>
          <div class="show-caption">{{c.name}}</div>
        </a>
      </li>
    {% endfor %}
  </ul>
  {# circular show nav #}
  <a class="show-control" href="#courses" id="pItem" style="display:none;"><i class="icon-chevron-left"></i></a>
  <a class="show-control" href="#courses" id="nItem" style="display:none;"><i class="icon-chevron-right"></i></a>
  <a class="show-control" href="#cuisines" id="pItem" style="display:none;"><i class="icon-chevron-left"></i></a>
  <a class="show-control" href="#cuisines" id="nItem" style="display:none;"><i class="icon-chevron-right"></i></a>
  <a class="show-control" href="#sources" id="pItem" style="display:none;"><i class="icon-chevron-left"></i></a>
  <a class="show-control" href="#sources" id="nItem" style="display:none;"><i class="icon-chevron-right"></i></a>
  <a class="show-control" href="#diets" id="pItem" style="display:none;"><i class="icon-chevron-left"></i></a>
  <a class="show-control" href="#diets" id="nItem" style="display:none;"><i class="icon-chevron-right"></i></a>
</div>

  <div id="bg-show"></div>
  <div class="content search-form">
    <form id="searchform" class="form-search" action="{% url 'normal_search' %}" method="POST">
      {% csrf_token %}
      <div id="suggestions"></div>
      <div class="search-div">
        <span class="search-icon"><i class="icon-search"></i></span>
        <input class="span5 search-query" id="searchinput" placeholder="Type in a dish name or the main ingredient..." type="search" autocomplete="off">
      </div>
      
    </form>
  </div>
  <div id="search_results"></div>
  
{% endblock %}

{% block js-head %}
  <script src="{% static "js/modernizr.custom.17475.js" %}"></script>
  <script src="{% static "js/bgstretcher.js" %}"></script>
  <script type="text/javascript">
  var j = jQuery.noConflict();
  j(document).ready(function(){
    // initialize slider
    j('#bg-show').bgStretcher({
      images: ['/media/Index_Images/bg-img1.jpg', '/media/Index_Images/bg-img2.jpg',
                '/media/Index_Images/bg-img3.jpg','/media/Index_Images/bg-img4.jpg'],
      imageWidth: 1024, 
      imageHeight: 768, 
      slideDirection: 'N',
      nextSlideDelay: 7000,
      slideShowSpeed: 3000,
      slideShow: 'true',
      transitionEffect: 'fade',
      sequenceMode: 'normal',
      buttonPrev: '#prev',
      buttonNext: '#next',
      pagination: '#nav',
      anchoring: 'left center',
      anchoringImg: 'left center'
    });

    // animation control
    // j('#toggleAnimation').unbind('click');
    // j('#toggleAnimation').click(function(){
    //   if (j(this).html() == "PAUSE"){
    //     j(this).html("RESUME");
    //     j('#bg-show').bgStretcher.pause();
    //   } else {
    //     j(this).html("PAUSE");
    //     j('#bg-show').bgStretcher.play();
    //   }
    // });
    var delay = (function(){
      var timer = 0;
      return function(callback, ms){
        clearTimeout (timer);
        timer = setTimeout(callback, ms);
      };
    })();

    var minlength = 3;
    j('#suggestions').hide();
    j('#searchinput').keyup(function(event) {
      delay(function(){
        if(event.which != 13) {
          var value = j('#searchinput').val(),
              url = '';
          if(value.length >= minlength) {
            var postdata = {'q': value, 'csrfmiddlewaretoken': '{{ csrf_token }}'}
            j.post(url, postdata,
              function(data) {
                j('#suggestions').fadeIn();
                j('#suggestions').empty().append(data);
              }
            );
          }
          else {
            j('#suggestions').fadeOut();
          }
        }
      }, 300);
    });

    j('#searchinput').keypress(function (event){
      if (event.which == 13){
        j('#searchform').submit();
      }
    });
    
    j('#searchform').submit(function(event) {
      event.preventDefault();
      var value = j('#searchinput').val(),
          url = j(this).attr('action');
      var postdata = {'q': value, 'csrfmiddlewaretoken': '{{ csrf_token }}'}
      if(value.length >= minlength) {
        j.post(url, postdata,
          function(data) {
            j('#search_results').fadeIn();
            j('#search_results').empty().append(data);
          }
        );
      }
      else {
        j('#search_results').fadeOut();
      }
    });

  });
</script>
{% endblock js-head%}

{% block js %}
  <script type="text/javascript" src="{% static "js/recipe/index.js" %}"></script>
{% endblock js %}
