{% extends 'nav.html' %}

{% load static from staticfiles %}
{% load url from future %}

{% load thumbnail %}

{% block csslink %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/bgstretcher.css" %}" type="text/css" />
  <!--link href='http://fonts.googleapis.com/css?family=Chela+One' rel='stylesheet' type='text/css'-->
{% endblock %}

{% block title %}
上厨娘
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div id="circular-show-outer">
  <ul class="circular-show-inner upper-level">
    <li class="show-item" id="item1">
      <a href="#">
        <div class="show-img"></div>
        <div class="show-caption">Courses</div>
      </a>
    </li>
    <li class="show-item" id="item2">
      <a href="#">
        <div class="show-img"></div>
        <div class="show-caption">Cuisines</div>
      </a>
    </li>
    <li class="show-item" id="item3">
      <a href="#">
        <div class="show-img"></div>
        <div class="show-caption">Sources</div>
      </a>
    </li>
    <li class="show-item" id="item4">
      <a href="#">
        <div class="show-img"></div>
        <div class="show-caption">Diets</div>
      </a>
    </li>
    <li class="show-item" id="item5">
      <a href="#">
        <div class="show-img"></div>
        <div class="show-caption">Hot!</div>
      </a>
    </li>
  </ul>
  <ul class="circular-show-inner lower-level">
    <li class="show-item" id="item1">
      <a href="#">
        <div class="show-img"></div>
        <div class="show-caption">Dish1</div>
      </a>
    </li>
    <li class="show-item" id="item2">
      <a href="#">
        <div class="show-img"></div>
        <div class="show-caption">Dish2</div>
      </a>
    </li>
    <li class="show-item" id="item3">
      <a href="#">
        <div class="show-img"></div>
        <div class="show-caption">Dish3</div>
      </a>
    </li>
    <li class="show-item" id="item4">
      <a href="#">
        <div class="show-img"></div>
        <div class="show-caption">Dish4</div>
      </a>
    </li>
    <li class="show-item" id="item5">
      <a href="#">
        <div class="show-img"></div>
        <div class="show-caption">Dish5</div>
      </a>
    </li>
    <li class="show-item" id="item6">
      <a href="#">
        <div class="show-img"></div>
        <div class="show-caption">Dish1</div>
      </a>
    </li>
    <li class="show-item" id="item7">
      <a href="#">
        <div class="show-img"></div>
        <div class="show-caption">Dish2</div>
      </a>
    </li>
    <li class="show-item" id="item8">
      <a href="#">
        <div class="show-img"></div>
        <div class="show-caption">Dish3</div>
      </a>
    </li>
    <li class="show-item" id="item9">
      <a href="#">
        <div class="show-img"></div>
        <div class="show-caption">Dish4</div>
      </a>
    </li>
    <li class="show-item" id="item10">
      <a href="#">
        <div class="show-img"></div>
        <div class="show-caption">Dish5</div>
      </a>
    </li>
  </ul>
</div>

  <div id="bg-show"></div>
  <div class="content search-form">
    <form id="searchform" class="form-search" action="{% url 'normal_search' %}" method="POST">
      {% csrf_token %}
      <div class="search-div">
        <input class="span4 search-query" id="searchinput" placeholder="Type in a dish name or the main ingredient..." type="search" autocomplete="off">
      </div>
      <div id="suggestions"></div>
    </form>
  </div>
  <div id="search_results"></div>
  
{% endblock %}

{% block js-head %}
  <script src="{% static "js/modernizr.custom.17475.js" %}"></script>
  <script src="{% static "js/bgstretcher.js" %}"></script>
  <script type="text/javascript">
  var j = jQuery.noConflict();
  j(document).ready(function(){  
    // initialize slider
    j('#bg-show').bgStretcher({
      images: ['/media/Index_Images/bg-img1.jpg', '/media/Index_Images/bg-img2.jpg',
                '/media/Index_Images/bg-img3.jpg','/media/Index_Images/bg-img4.jpg'],
      imageWidth: 1024, 
      imageHeight: 768, 
      slideDirection: 'N',
      nextSlideDelay: 7000,
      slideShowSpeed: 3000,
      slideShow: 'true',
      transitionEffect: 'fade',
      sequenceMode: 'normal',
      buttonPrev: '#prev',
      buttonNext: '#next',
      pagination: '#nav',
      anchoring: 'left center',
      anchoringImg: 'left center'
    });

    // animation control
    // j('#toggleAnimation').unbind('click');
    // j('#toggleAnimation').click(function(){
    //   if (j(this).html() == "PAUSE"){
    //     j(this).html("RESUME");
    //     j('#bg-show').bgStretcher.pause();
    //   } else {
    //     j(this).html("PAUSE");
    //     j('#bg-show').bgStretcher.play();
    //   }
    // });
    var minlength = 3;
    j('#suggestions').hide();
    j('#searchinput').keyup(function(event) {
      var value = j('#searchinput').val(),
          url = '';
      if(value.length >= minlength) {
        var postdata = {'q': value, 'csrfmiddlewaretoken': '{{ csrf_token }}'}
        j.post(url, postdata,
          function(data) {
            j('#suggestions').fadeIn();
            j('#suggestions').empty().append(data);
          }
        );
      }
      else {
        j('#suggestions').fadeOut();
      }
    });

    j('#searchinput').keypress(function (event){
      if (event.which == 13){
        j('#searchform').submit();
      }
    });
    
    j('#searchform').submit(function(event) {
      event.preventDefault();
      var value = j('#searchinput').val(),
          url = j(this).attr('action');
      var postdata = {'q': value, 'csrfmiddlewaretoken': '{{ csrf_token }}'}
      if(value.length >= minlength) {
        j.post(url, postdata,
          function(data) {
            j('#search_results').fadeIn();
            j('#search_results').empty().append(data);
          }
        );
      }
      else {
        j('#search_results').fadeOut();
      }
    });

  });
</script>
<script type="text/javascript">
jQuery(document).ready(function () {
  dHeight = window.innerHeight;
  jQuery('ul.circular-show-inner.upper-level > li').css('top', dHeight*0.2);
  jQuery('ul.circular-show-inner.lower-level > li').css('top', dHeight*0.4);
  var dWidth = j('li.show-item').width()*5;
  // console.log(dWidth);
  var dLeft = (window.innerWidth- dWidth)/2;
  j('ul.circular-show-inner.lower-level > li').each(function (i) {
    j(this).css('left', dLeft+144*i);
  });
  j('li#item1').css('left', dLeft);
  j('li#item2').css('left', dLeft+144);
  j('li#item3').css('left', dLeft+144*2);
  j('li#item4').css('left', dLeft+144*3);
  j('li#item5').css('left', dLeft+144*4);

  console.log(j('li#item1').position().left - dLeft);
  console.log(j('li#item2').position().left - dLeft);
  console.log(j('li#item3').position().left - dLeft);
  console.log(j('li#item4').position().left - dLeft);
  console.log(j('li#item5').position().left - dLeft);
});
</script>
{% endblock js-head%}

{% block js %}
  <script type="text/javascript" src="{% static "js/recipe/index.js" %}"></script>
{% endblock js %}
