{% extends 'nav.html' %}

{% load static from staticfiles %}
{% load url from future %}

{% load thumbnail %}

{% block csslink %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/bgstretcher.css" %}" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Chela+One' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title %}
上厨娘
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div id="circular-show">
  <div class="category-show row">
    <a href="#" class="span2 show-item" id="item1">
      <div class="circular-img"></div>
      <div class="show-caption">Courses</div>
    </a>
    <a href="#" class="span2 show-item" id="item2">
      <div class="circular-img"></div>
      <div class="show-caption">Cuisines</div>
    </a>
    <a href="#" class="span2 show-item" id="item3">
      <div class="circular-img"></div>
      <div class="show-caption">Sources</div>
    </a>
    <a href="#" class="span2 show-item" id="item4">
      <div class="circular-img"></div>
      <div class="show-caption">Diets</div>
    </a>
    <a href="#" class="span2 show-item" id="item5">
      <div class="circular-img"></div>
      <div class="show-caption">Hot!</div>
    </a>
  </div>
</div>

  <div id="bg-show"></div>
  <div class="content search-form">
    <form id="searchform" class="form-search" action="{% url 'normal_search' %}" method="POST">
      {% csrf_token %}
      <div class="search-div">
        <input class="span4 search-query" id="searchinput" placeholder="Type in a dish name or the main ingredient..." type="search" autocomplete="off">
      </div>
      <div id="suggestions"></div>
    </form>
  </div>
  <div id="search_results"></div>
  
{% endblock %}

{% block js-head %}
  <script src="{% static "js/modernizr.custom.17475.js" %}"></script>
  <script src="{% static "js/bgstretcher.js" %}"></script>
  <script type="text/javascript">
  var j = jQuery.noConflict();
  j(document).ready(function(){  
    // initialize slider
    j('#bg-show').bgStretcher({
      images: ['/media/Index_Images/bg-img1.jpg', '/media/Index_Images/bg-img2.jpg',
                '/media/Index_Images/bg-img3.jpg','/media/Index_Images/bg-img4.jpg'],
      imageWidth: 1024, 
      imageHeight: 768, 
      slideDirection: 'N',
      nextSlideDelay: 7000,
      slideShowSpeed: 3000,
      slideShow: 'true',
      transitionEffect: 'fade',
      sequenceMode: 'normal',
      buttonPrev: '#prev',
      buttonNext: '#next',
      pagination: '#nav',
      anchoring: 'left center',
      anchoringImg: 'left center'
    });

    // animation control
    // j('#toggleAnimation').unbind('click');
    // j('#toggleAnimation').click(function(){
    //   if (j(this).html() == "PAUSE"){
    //     j(this).html("RESUME");
    //     j('#bg-show').bgStretcher.pause();
    //   } else {
    //     j(this).html("PAUSE");
    //     j('#bg-show').bgStretcher.play();
    //   }
    // });
    var minlength = 3;
    j('#suggestions').hide();
    j('#searchinput').keyup(function(event) {
      var value = j('#searchinput').val(),
          url = '';
      if(value.length >= minlength) {
        var postdata = {'q': value, 'csrfmiddlewaretoken': '{{ csrf_token }}'}
        j.post(url, postdata,
          function(data) {
            j('#suggestions').fadeIn();
            j('#suggestions').empty().append(data);
          }
        );
      }
      else {
        j('#suggestions').fadeOut();
      }
    });

    j('#searchinput').keypress(function (event){
      if (event.which == 13){
        j('#searchform').submit();
      }
    });
    
    j('#searchform').submit(function(event) {
      event.preventDefault();
      var value = j('#searchinput').val(),
          url = j(this).attr('action');
      var postdata = {'q': value, 'csrfmiddlewaretoken': '{{ csrf_token }}'}
      if(value.length >= minlength) {
        j.post(url, postdata,
          function(data) {
            j('#search_results').fadeIn();
            j('#search_results').empty().append(data);
          }
        );
      }
      else {
        j('#search_results').fadeOut();
      }
    });

    var pLeft = (window.innerWidth- j('a.show-item').width() - j('#item3').position().left)/2 - j('#item3').width()/2;
    j('a#item1').css('margin-left', pLeft);

  });
</script>
{% endblock js-head%}

{% block js %}
  <script type="text/javascript" src="{% static "js/recipe/index.js" %}"></script>
{% endblock js %}
