{% extends "base.html" %}

{% load static from staticfiles %}
{% load url from future %}

{% block csslink %}
<link rel="stylesheet" href="{% static "css/recipe/index.css" %}" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static "css/elastislide.css" %}"/>
<link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.css" %}" type="text/css" />
<link rel="stylesheet" href="{% static "css/nav.css" %}" type="text/css" />
<!-- link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic" / -->
<link rel="stylesheet" href="{% static "css/form.css" %}" type="text/css" />
<link rel="stylesheet" href="{% static "css/scrollbar.css" %}" type="text/css" />
{% endblock %}

{% block navbar %}
<script src="{% static "js/modernizr.custom.17475.js" %}"></script>
<div id="nav-search-result" style="position:fixed;"></div>
<div class="navbar navbar-static-top">
	<div class="navbar-inner">
		<div class="container row-fluid" id="nav-container">
			<div id="nav-logo" class="span4">
				<a class="brand" href="{% url 'homepage' %}">LOGO</a>
				<form id="nav-search" class="form-search" action="{% url 'normal_search' %}" method="POST">
					{% csrf_token %}
					<input class="span8 search-query" id="nav-input" placeholder="Type in a dish name..." type="search" autocomplete="off">
				</form>
				<div id="nav-suggestion"></div>
			</div>
			<div id="colorNav" class="span8">
				
				<ul style="position:relative;">
					<li class="green">
						<a href="{% url 'homepage' %}"><i class="icon-home"></i></a>
					</li>
					<li class="red">
						<a href="#"><i class="icon-glass"></i></a>
						<ul>
							<li><a href="{% url 'hot_recipes' %}"><i class="icon-heart"></i>Hot Recipes</a></li>
							{% if user.is_authenticated %}
							<li><a href="{% url 'recipe_create' %}"><i class="icon-upload-alt"></i>Add A Recipe</a></li>
							{% endif %}
						</ul>
					</li>
					<li class="yellow">
						<a href="{% url 'advanced_search'%}"><i class="icon-search"></i></a>
						<ul>
							<li><a href="{% url 'advanced_search' %}"><i class="icon-search"></i>Advanced Search</a></li>
						</ul>
					</li>
					<div id="notification" style="position:absolute; top:30px; right:180px;" ></div>
					<li class="purple">
						<a href="{% url 'actstream' %}"><i class="icon-bullhorn"></i></a>
						<ul>
							<li><a href="{% url 'actstream' %}"><i class="icon-rss"></i>News Feed</a></li>
							<li><a href="{% url 'userena_umessages_list' %}"><i class="icon-envelope-alt"></i> Message</a></li>
						</ul>
					</li>
					<li class="blue">
						{% if user.is_authenticated %}
						<a href="{% url 'userena_profile_detail' user.username %}"><i class="icon-user"></i></a>
						{% else %}
						<a data-toggle="modal" href="#signinModal" ><i class="icon-signin"></i></a>
						{% endif %}
						<ul>	
							{% if user.is_authenticated %}
							<li><a href="{% url 'userena_profile_detail' user.username %}"><i class="icon-user"></i> My Profile</a></li>
							<li><a href="#"><i class="icon-glass"></i> My Recipes</a></li>
							<li><a href="{% url 'userena_signout' %}"><i class="icon-signout"></i> Sign Out</a></li>
							{% else %}
							<li><a data-toggle="modal" href="#signinModal" ><i class="icon-signin"></i> Sign In</a></li>
							<li><a data-toggle="modal" href="{% url 'userena_signup' %}" ><i class="icon-plus"></i> Sign Up</a></li>
							{% endif %}
						</ul>
					</li>
					<!-- More menu items -->  	
				</ul>
			</div>
		</div>
	</div>
</div>
<div>
	<a href="#" class="scroll-up"><i class="icon-chevron-up"></i></a>
</div>
<div class="modal hide fade" tabindex="-1" aria-hidden="true" id="signinModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<legend>Sign In</legend>
	</div>
	<div class="modal-body">
		<form method="post" action="{% url 'userena_signin' %}" >
			{% csrf_token %}
			<fieldset>
				<img src="{% static 'img/welcome_pig.jpg' %}" id="welcomePig"/>
				<p><input type="text" class="span3" name="identification" id="email" placeholder="Username or Email"></p>
				<p><input type="password" class="span3" name="password" placeholder="Password"></p>
				<p class="checkbox">
					<label for="id_remember_me"><input type="checkbox" name="remember_me" id="id_remember_me" /> Remember me for a month</label>
				</p>
				<p><button type="submit" class="btn btn-primary">Sign in</button>
					<a href="{% url 'userena_password_reset' %}">Forgot Password?</a>
				</p>
			</fieldset>
		</form>
	</div>
	<div class="modal-footer">
		New To MyWebsite.com?
		<a href="{% url 'userena_signup' %}" class="btn btn-primary">Sign Up</a>
	</div>
</div>

<script type="text/javascript" src="{% static "js/recipe/index.js" %}"></script>

<script type="text/javascript">
jQuery(document).ready(function() {
	var delay = (function(){
    var timer = 0;
    return function(callback, ms){
      clearTimeout (timer);
      timer = setTimeout(callback, ms);
    };
  })();

	var minlength = 3;
	// jQuery('#nav-search-result').hide();
	jQuery('#nav-suggestion').hide();
	jQuery('#nav-input').keyup(function(event) {
		delay(function(){
			if(event.which != 13) {
				var value = jQuery('#nav-input').val(),
						url = "{% url 'autonav' %}";
				if(value.length >= minlength) {
					var postdata = {'q': value, 'csrfmiddlewaretoken': '{{ csrf_token }}'}
					jQuery.post(url, postdata,
						function(data) {
							jQuery('#nav-suggestion').fadeIn();
							jQuery('#nav-suggestion').empty().append(data);
						}
					);
				}
				else {
					jQuery('#nav-suggestion').fadeOut();
				}
			}
		}, 300);
	});

	jQuery('#nav-input').keypress(function (event){
			if (event.which == 13){
				jQuery('#nav-search').submit();
			}
		});
	jQuery('#nav-search').submit(function(event) {
		jQuery('#nav-suggestion').hide();
			event.preventDefault();
			var value = jQuery('#nav-input').val(),
					url = jQuery(this).attr('action');
			var postdata = {'q': value, 'csrfmiddlewaretoken': '{{ csrf_token }}'}
			if(value.length >= minlength) {
				jQuery.post(url, postdata,
					function(data) {
						jQuery('#nav-search-result').fadeIn();
						jQuery('#nav-search-result').empty().append(data);
					}
				);
			}
			else {
				jQuery('#nav-search-result').fadeOut();
			}
		});
	jQuery.ajax({ url: "{% url 'message_comet' %}", success: function(data){
		//Update your dashboard gauge
		if (jQuery('#notification').html() != data) {
			jQuery('#notification').html(data);
		}

	}});
	function yuNotify(){
		setTimeout(function () {
			jQuery.ajax({ url: "{% url 'message_comet' %}", success: function(data){
			//Update your dashboard gauge
			if (jQuery('#notification').html() != data) {
				jQuery('#notification').html(data);
			}

		}, complete: yuNotify });
		}, 30000);
	};
	{% if user.is_authenticated %}
	yuNotify();
	{% endif %}
});
</script>
<script type="text/javascript" src="{% static "js/zhEffect.js" %}"></script>

{% endblock%}
