{% extends "base.html" %}

{% load static from staticfiles %}
{% load url from future %}

{% block csslink %}
  <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "css/nav.css" %}" type="text/css" />
  <!-- link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic" / -->
  <link rel="stylesheet" href="{% static "css/form.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "css/scrollbar.css" %}" type="text/css" />
{% endblock %}
	
{% block navbar %}

	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
		<div class="container row-fluid" id="nav-container">
			<a class="brand span3" href="#">LOGO</a>
			<div id="colorNav" class="span8">
					<ul>
						<li class="green">
							<a href="{% url 'homepage' %}"><i class="icon-home"></i></a>
						</li>
						<li class="red">
							<a href="#"><i class="icon-glass"></i></a>
							<ul>
								<li><a href="{% url 'hot_recipes' %}"><i class="icon-heart"></i>Hot Recipes</a></li>
								{% if user.is_authenticated %}
								<li><a href="{% url 'recipe_create' %}"><i class="icon-upload-alt"></i>Add A Recipe</a></li>
								{% endif %}
							</ul>
						</li>
						<li class="yellow">
							<a href="#"><i class="icon-search"></i></a>
						</li>
						<li class="purple">
							<a href="{% url 'actstream' %}"><i class="icon-rss"></i></a>
							<ul>
								<li><a href="{% url 'actstream' %}"><i class="icon-rss"></i>News Feed</a></li>
								<li><a href="{% url 'userena_umessages_list' %}"><i class="icon-envelope-alt"></i> Message</a></li>
							</ul>
						</li>
						<li class="blue pull-right">
							{% if user.is_authenticated %}
							<a href="{% url 'userena_profile_detail' user.username %}"><i class="icon-user"></i></a>
							{% else %}
							<a data-toggle="modal" href="#signinModal" ><i class="icon-signin"></i></a>
							{% endif %}
							<ul>	
								{% if user.is_authenticated %}
								<li><a href="{% url 'userena_profile_detail' user.username %}"><i class="icon-user"></i> My Profile</a></li>
								<li><a href="#"><i class="icon-glass"></i> My Recipes</a></li>
								<li><a href="{% url 'userena_signout' %}"><i class="icon-signout"></i> Sign Out</a></li>
								{% else %}
								<li><a data-toggle="modal" href="#signinModal" ><i class="icon-signin"></i> Sign In</a></li>
								<li><a data-toggle="modal" href="{% url 'userena_signup' %}" ><i class="icon-plus"></i> Sign Up</a></li>
								{% endif %}
							</ul>
						</li>
						<!-- More menu items -->  	
				</ul>
			</div>
		</div>
		</div>
	</div>
<div class="modal hide fade" tabindex="-1" aria-hidden="true" id="signinModal">
  <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">x</button>
	<legend>Sign In</legend>
  </div>
  <div class="modal-body">
	<form method="post" action="{% url 'userena_signin' %}" >
		{% csrf_token %}
		<fieldset>
			<img src="{% static 'img/welcome_pig.jpg' %}" id="welcomePig"/>
		  <p><input type="text" class="span3" name="identification" id="email" placeholder="Username or Email"></p>
		  <p><input type="password" class="span3" name="password" placeholder="Password"></p>
		  <p class="checkbox">
		  <label for="id_remember_me"><input type="checkbox" name="remember_me" id="id_remember_me" /> Remember me for a month</label>
		</p>
		  <p><button type="submit" class="btn btn-primary">Sign in</button>
			<a href="{% url 'userena_password_reset' %}">Forgot Password?</a>
		  </p>
	</fieldset>
	</form>
  </div>
  <div class="modal-footer">
	New To MyWebsite.com?
	<a href="{% url 'userena_signup' %}" class="btn btn-primary">Sign Up</a>
  </div>
</div>

{% endblock %}
