h2.parent-cat {
	font-family: 'Kite One', sans-serif;
	font-size: 18px;
	line-height: 18px;
	margin: 0;
	color: black;
}

div.accordion-inner ul {
	list-style-type: none;
}

div.accordion-inner ul > li > a {
	font-family: Tahoma, Geneva, sans-serif, 'Microsoft Yahei';
	font-size: 14px;
	color: #130F0F;
}

div.accordion-group {
	border: 0;
}

div.accordion-group a {
	text-decoration: none;
}

#mod-container img.food-cover-img {
	height: 160px;
	width: 220px;
	margin-left: auto;
	margin-right: auto;
	line-height: 140px;
}

#mod-container div.food-stat {
	padding-left: 15px;
	margin-bottom: 15px;
	font-size: 14px;
	font-weight: bold;
	color: rgb(169, 169, 169);
}

#mod-container div.brief-intro {
	display: inline;
}

#mod-container a.hide-show {
	display: none;
	text-decoration: none;
	color: rgb(178, 34, 34);
}

#mod-container a.hide-show:link {
	color: rgb(178, 34, 34);
}

#mod-container a.hide-show:hover {
	color: rgb(0, 191, 255);
}

#mod-container a.hide-show:visited {
	color: rgb(178, 34, 34);
}

#mod-container a.hide-show:active {
	background: rgb(0, 191, 255);
	color: white;
}

#mod-container div.brief-intro div, #mod-container div.brief-intro a {
	margin-left: 15px;
}