{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load url from future %}
{% load thumbnail %}
{% block csslink %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/user/prof_detail.css" %}" type="text/css" />
{% endblock %}

{% block title %}
{% blocktrans with profile.user.username as username %}
{{ username }}(上厨娘)
{% endblocktrans %}
{% endblock %}

{% block content %}
<div id="mod-container" class="well">
	<div class="row-fluid container">
		<div id="mod-prof-main" class="row">
			<div class="mod-prof-main-img span3">
				<img class="mugshot" src="{{ profile.get_mugshot_url }}" alt="{% trans "Mugshot" %}" />
				{% ifequal user.get_profile profile%}
				<form id="mugshot_form" method="POST" enctype="multipart/form-data" action="{% url 'userena_profile_edit' profile.user.username %}">
					{% csrf_token %}
					<label for="id_mugshot">Change Mugshot:</label>
					<input type="file" name="mugshot" id="id_mugshot">
				</form>
				{% endifequal %}
			</div>
			<div class="mod-prof-main-txt span9">
				<div class="mod-prof-username-h2">
					<h2>The Kitchen of {{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>
				</div>
				{% include 'actstream/follow_btn.html'%}
{% comment %}        
	<div>{{ user.vote_set.all }}</div>
	<div>{{ user.get_profile.favorite.all }}</div>
	<div>{{ user.did_recipe_set.all }}</div>
	{% endcomment %}
	<div class="mod-prof-main-about">
		<dl>
			{% if profile.about_me %}
			<dt>{% trans "About me" %}</dt>
			<dd>{{ profile.about_me }}</dd>
			{% endif %}
			{% if profile.website %}
			<dt>{% trans "Website" %}</dt>
			<dd>{{ profile.website|urlize }}</dd>
			{% endif %}
		</dl>
	</div>
</div>
</div>

<hr />

{% comment %}
{% block profile_navigation %}
{% if user.username == profile.user.username %}
<ul id="box-nav">
{% block profile_navigation_items %}
	<li><a href="{% url 'userena_profile_detail' user.username %}">{% trans "View profile" %}</a></li>
	<li><a href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit details" %}</a></li>
	<li><a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a></li>
	<li><a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a></li>
{% endblock %}
</ul>
{% endif %}
{% endblock %}
{% endcomment %}

<div id="mod-prof-details" class="tabbable">
	<ul id="mod-prof-nav" class="nav nav-tabs">
		<li class="active">
			<a href="#recipes" data-toggle="tab">Recipes</a>
		</li>
		<li>
			<a href="#favs" data-toggle="tab">Favorites</a>
		</li>
		<li>
			<a href="#prof" data-toggle="tab">Profile</a>
		</li>
		<li>
			<a href="#friends" data-toggle="tab">Friends</a>
		</li>
		<li>
			<a href="#cmts" data-toggle="tab">Message</a>
		</li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active row-fluid" id="recipes">
			<ul class="thumbnails">
				{% for r in recipe_list %}
				<li class="span4">
					<a href="{{ r.get_absolute_url }}" class="thumbnail">
						{# here is a potential bug, that the image uploaded in admin won't contain /media/ in url #}
						<img class="cover-img" src="{{ r.cover_image|thumbnail_url:'normal' }}" alt="{% trans "cover image" %}" />
						<div class="caption">
							<div class="recipe-name">{{ r.name }}</div>
							<div class="recipe-stat">
								<span>{{ r.did_num }} did it.</span>
								<span class="seperator">&nbsp;|&nbsp;</span>
								<span>{{ r.like_num }} liked it.</span>
								<span class="seperator">&nbsp;|&nbsp;</span>
								<span>{{ r.view_num }} viewed it.</span>
							</div>
							<div class="recipe-date">
								{{ r.date }}
							</div>
						</div>
					</a>
				</li>
				{% endfor %}
			</ul>
			</div>
			<div class="tab-pane" id="favs">
				<ul class="thumbnails">
				{% for f in favourite_list %}
				<li class="span4">
					<a href="{{ f.get_absolute_url }}" class="thumbnail">
						{# here is a potential bug, that the image uploaded in admin won't contain /media/ in url #}
						<img class="cover-img" src="{{ f.cover_image|thumbnail_url:'normal' }}" alt="{% trans "cover image" %}" />
						<div class="caption">
							<div class="recipe-name">{{ f.name }}</div>
							<div class="recipe-stat">
								<span>{{ f.did_num }} did it.</span>
								<span class="seperator">&nbsp;|&nbsp;</span>
								<span>{{ f.like_num }} liked it.</span>
								<span class="seperator">&nbsp;|&nbsp;</span>
								<span>{{ f.view_num }} viewed it.</span>
							</div>
							<div class="recipe-date">
								{{ f.date }}
							</div>
						</div>
					</a>
				</li>
				{% endfor %}
			</ul>
			</div>
			<div class="tab-pane" id="prof">
				{% block profile_details %}
				<dl>
					{% block profile_definition_list %}
					{% if profile.user.first_name or profile.user.id == user.id %}
					<div class="prof-div">
						<dt>{% trans "First Name" %}</dt>
						<div class="prof-form input-append">
							<form class="prof_edit" action="{% url 'userena_profile_edit' profile.user.username %}" method="POST">
								<input readonly class="profile_input special_input" type="text" name="first_name" value="{{ profile.user.first_name }}" />
								<button class="prof_smt_btn btn" rel="popover" type="submit">Submit</button>
							</form>
						</div>
					</div>
					{% endif %}
					{% if profile.user.last_name or profile.user.id == user.id  %}
					<div class="prof-div">
					<dt>{% trans "Last Name" %}</dt>
					<div class="prof-form input-append">
						<form class="prof_edit" action="{% url 'userena_profile_edit' profile.user.username %}" method="POST">
							<input readonly class="profile_input special_input"  type="text" name="last_name" value="{{ profile.user.last_name }}" />
							<button class="prof_smt_btn btn" rel="popover" type="submit">Submit</button>
						</form>
					</div>
				</div>
					{% endif %}
					{% if profile.user.email and not hide_email or profile.user.id == user.id  %}
					<div>
					<dt>{% trans "Email" %}</dt>

					<div class="prof-form">
						<form action="" method="POST">
							<input readonly="readonly" class="profile_input" type="text" name="email" value="{{ profile.user.email }}" />
						</form>
					</div>
				</div>
					{% endif %}
					{% if profile.age or profile.user.id == user.id  %}
					<div class="prof-div">
					<dt>{% trans "Age" %}</dt>
					<div class="prof-form input-append">
						<form class="prof_edit" action="{% url 'userena_profile_edit' profile.user.username %}" method="POST">
							<input readonly class="profile_input special_input" type="text" name="age" value="{{ profile.age }}" />
							<button class="prof_smt_btn btn" rel="popover" type="submit">Submit</button>
						</form>
					</div>
				</div>
					{% endif %}
					{% if profile.website or profile.user.id == user.id  %}
					<div class="prof-div">
					<dt>{% trans "Website" %}</dt>
					<div class="prof-form input-append">
						<form class="prof_edit" action="{% url 'userena_profile_edit' profile.user.username %}" method="POST">
							<input readonly class="profile_input special_input"  type="text" name="website" value="{{ profile.website }}" />
							<button class="prof_smt_btn btn" rel="popover" type="submit">Submit</button>
						</form>
					</div>
				</div>
					{% endif %}
					{% if profile.location or profile.user.id == user.id  %}
					<div class="prof-div">
					<dt>{% trans "Location" %}</dt>
					<div class="prof-form input-append">
						<form class="prof_edit" action="{% url 'userena_profile_edit' profile.user.username %}" method="POST">
							<input readonly class="profile_input special_input"  type="text" name="location" value="{{ profile.location }}" />
							<button class="prof_smt_btn btn" rel="popover" type="submit">Submit</button>
						</form>
					</div>
				</div>
					{% endif %}
					{% if profile.about_me or profile.user.id == user.id  %}
					<div class="prof-div">
					<dt>{% trans "About me" %}</dt>
					<div class="prof-form input-append">
						<form class="prof_edit" action="{% url 'userena_profile_edit' profile.user.username %}" method="POST">
							<input readonly class="profile_input special_input"  type="text" name="about_me" value="{{ profile.about_me }}" />
							<button class="prof_smt_btn btn" rel="popover" type="submit">Submit</button>
						</form>
					</div>
				</div>
					{% endif %}
					{% endblock %}
				</dl>
				{% endblock %}
				<div>
					<a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a>
				</div>
			</div>
			<div class="tab-pane" id="friends">
				<div>{{followers}}</div>
				<div>{{following}}</div>
			</div>
			<div class="tab-pane" id="cmts">
				<div class="row span8">
					<form id="message_form" action="{% url 'leave_message' profile.user.username %}" method="POST">
						<textarea name="comment" id="id_comment" maxlength="140"></textarea>
						<button id="message_btn" rel="popover" type="submit" class="btn pull-right">Leave a Message</button>
					</form>
					<div id="conversation">
					</div>
					<a id="load_converstion" href="?page=1">See a full list of messages ...</a>
				</div>
			</div>
		</div>
	</div>

{% comment %}
<div id="recommends">
<h2>Recommended Recipes</h2>
<ul>
{% for r in recommends %}
<li><a href="{{ r.get_absolute_url }}">{{r.name}}</a></li>
{% endfor %}
</ul>
</div>
{% endcomment %}
</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
	if (document.getElementById('id_mugshot')){
		document.getElementById('id_mugshot').onchange = function() {
			document.getElementById('mugshot_form').submit();
		}
	}
	
	$('#message_btn').popover({
		trigger: 'manual',
		title: 'Success',
		content: 'Your message is sent',
		placement: 'bottom',
	});
	$('#message_form').submit(function(event) {
		event.preventDefault();
		var url = $(this).attr('action');
		var postdata = {
			'message': $('#id_comment').val(),
			'csrfmiddlewaretoken': '{{ csrf_token }}',
		}
		$.post(url, postdata, function(data){
			$('#message_btn').popover('show');
			setTimeout(function() {
				$('#message_btn').popover('hide');
			}, 1200);
			$(data).hide().prependTo('#conversation').show('slow');
			$('#id_comment').val('');
		});
		return false;
	});

	$('#load_converstion').click(function(){
		var url = $(this).attr('href');
		var postdata = {
			'csrfmiddlewaretoken': '{{ csrf_token }}',
		}
		$.get(url, postdata, function(data){
			$('#conversation').hide().empty().append(data).show('slow');
			$('#load_converstion').hide();
		});
		return false;
	});

	$('.prof_edit').submit(function(event) {
		var btn = $(this).find('.prof_smt_btn');
		event.preventDefault();
		var url = $(this).attr('action');
		var postdata = {
			'field': $(this).children('input').attr('name'),
			'value': $(this).children('input').val(),
			'csrfmiddlewaretoken': '{{ csrf_token }}',
		}

		$.post(url, postdata, function(data){
			btn.popover('show');
			setTimeout(function() {
				btn.popover('hide');
			}, 800);
		});
	});
	$('.prof_smt_btn').popover({
		trigger: 'manual',
		title: 'Success',
		content: 'Your modification has been processed.',
		placement: 'bottom',
	});

	{% ifequal user profile.user %}
	$('.special_input').focusout(function (){
		var input = $(this);
		setTimeout(function(){
			input.addClass('profile_input');
			input.siblings('button').hide();
		},800);
	});

	$('.prof-div').click(function() {
		$(this).find('.special_input').removeClass('profile_input').attr('readonly',false).focus();
		$(this).find('button').show();
	});

	$('.prof-div').tooltip({
		placement: 'left',
		title: "Click to Edit",
	});
	{% endifequal%}

});
</script>
{% endblock js%}
