{% extends 'nav.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="span4 offset4 well">
      <form action="" method="post">
        {% csrf_token %}
        <fieldset>
          <legend>{% trans "Signin" %}</legend>
          {% if form.non_field_errors %}
              <div class="alert alert-error fieldWrapper fade in">
                  <a class="close" data-dismiss="alert" href="#">×</a>{{ form.non_field_errors }}
              </div>
            {% endif %}
          {% for field in form %}
            {% if field.errors %}
              <div class="alert alert-error fieldWrapper fade in">
                <a class="close" data-dismiss="alert" href="#">×</a>{{ field.errors }}
              </div>
            {% endif %}
          
          {% comment %} Displaying checkboxes differently {% endcomment %}
          {% if field.name == 'remember_me' %}
          <p class="checkbox">
          <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
          </p>
          {% else %}
          <p class="fieldWrapper">
            {{ field.label_tag }}
            {{ field }}
          </p>
          {% endif %}
          {% endfor %}
        </fieldset>
        <p>
          <input type="submit" class="btn btn-primary" value="{% trans "Signin" %}" />
          <a class="forget-password" href="{% url 'userena_password_reset' %}" title="{% trans 'Forgot your password?' %}">{% trans "Forgot your password?" %}</a>
          {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
        </p>
      </form>
    </div>
  </div>
</div>
{% endblock %}
